@import './../../../styles//variables.scss';
.register{
    padding:  $padding;
    .form-title{
        .logo{
            margin-right: .5rem;
            height: 42px;
            width: 42px;
        }

        h1{
            font-weight: 100;
            font-size: 1.7rem!important;
            color: #F6B733;
        }
    }
}
