/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "../../../share/scss/bootstrap";


@import 'styles/variables';
@import 'styles/utilities';
@import 'styles/base';
@import 'styles/layout';
@import 'styles/module';
@import 'styles/theme';
@import './../../../share/philgo-api-components/scss/index';


/**
 * To adjust layout of CKEditor.
 */
.image-style-side {
  max-width: 50%;
  float: right;
  margin-left: var(--ck-image-style-spacing);

  margin-block-start:!important;
  margin-block-end:0!important;
  margin-inline-start: 0!important;
  margin-inline-end:0 !important;
  img {
    width: 100%;
  }
}
.post-content .post-text-content {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}



.mat-snack-bar-container[class*="error-"] {
  background-color: rgb(146, 0, 0) !important;
  .mat-simple-snackbar-action {
    color: #ecd3dc !important;
  }
}