<section class="login">
  
  <div class="form-title">
    <i class="material-icons">assignment_ind</i>
    <h1>Login</h1>
  </div>

  <div *ngIf=" philgo.isLoggedIn(); else login ">You have logged in as {{ philgo.nickname() }}.</div>

  <ng-template #login>
  
      <form class="form-content" (ngSubmit)="onSubmit( $event )">
          <mat-form-field class="w-100">
            <input [(ngModel)]=" form.uid " name="email" type="email" matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input [(ngModel)]=" form.password " name="password" type="password" matInput placeholder="Password">
          </mat-form-field>
          <button class="w-100" type="submit" mat-flat-button>SUBMIT</button>
        </form>
        
  </ng-template>
</section>
