@import './../../../styles//variables.scss';
.login{
    padding:  $padding;
    text-align: center;
    .form-title{
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            margin-right: .5rem;
            height: 42px;
            width: 42px;
        }

        h1{
            font-weight: 100;
            font-size: 1.7rem!important;
            color: #F6B733;
        }
    }
}
