@import './../../../styles//variables.scss';
.login{
    padding:  $padding;
    text-align: center;
    .form-title{
        .logo{
            margin-right: .5rem;
            height: 52px;
            width: 52px;
        }

        h1{
            font-weight: 100;
            font-size: 1.8rem!important;
            color: #F6B733;
        }
    }
}
