#footer{
    padding-top: 2rem;
    *{
        box-sizing: border-box
    }

    .footer-advertisement{
        border-top: 1px solid #d0d1d5;
    }

    .bottom-dark-menu{
        background-color: #444950;
        color: #bec3c9;

        .search{
            padding: .2rem;
            border-radius: 2px;
            background: #d3d7dc;
            input{
                background: transparent;
            }
            button{
                background-color: #4267b2;
                border: 0;
                border-radius: 2px;
                color: #fff;
                cursor: pointer;
            }
        }


        .container-fluid{
            .col > *{
                    display: flex;
                    align-items: center;
                    margin: 4px 2px;
                    padding: .35rem;
                    border-radius: 2px;
                    color:  #d0d1d5 ;
                    cursor: pointer;
                    &:hover{
                       color: white
                    }
                    .material-icons{
                        margin-right: .35rem;
                        font-size: 1rem;
                    }
                }
        }
    }
}