<section id="footer" class="mt-2 border-box w-100 overflow-hidden fs-sm">

  <div class="adv footer-advertisement p-3" *ngIf=" a.inRootSite ">

    <div class="d-flex align-items-center">
      <div>
        <div class="d-flex-center size-32px circle bg-dark-2">
          <i class="material-icons">how_to_reg</i>
        </div>
      </div>
      <div class="ml-3">
        <b>Looking for foreign boss?</b><br>
        We have a lot of foregin boss who want to hire pinoy workers.
        <a class="link">Sonub Jobs</a>
      </div>
    </div>
  </div>


  <div class="blog-copyright mt-3 p-3 bg-light text-center" *ngIf="a.blog?.copyright">
    {{ a.blog.copyright }}
  </div>

  <div class="bottom-dark-menu p-3">
    <form (ngSubmit)=" a.openSearch( q.value ) ">
        <div class="search d-flex">
            <app-logo></app-logo>
            <input name="q" #q class="flex-grow-1 fs-md mx-1 border-0">
            <button>Search</button>
          </div>
    </form>

    <div class="container-fluid  my-2 p-0">
      <div class="row no-gutters mx-minus-2px">
        <div class="col">
          <a routerLink="/contact"><i class="material-icons">alternate_email</i>Contact Us</a>
          <a routerLink="{{ a.getUrlPostViewByAccessCode( a.HELP, 'sonub-help') }}"><i class="material-icons">help_outline</i>Help</a>
          <a href="https://sonub.com" (click)=" onClickSonub( $event ) "><i class="material-icons">question_answer</i>Sonub</a>
        </div>
        <div class="col">
          <span (click)=" a.displayHtml('terms-and-conditions') "><i class="material-icons">copyright</i>Terms & Conditions</span>
          <span (click)=" a.displayHtml('privacy') "><i class="material-icons">lock</i>Privacy</span>
          <span (click)=" a.philgo.logout() " *ngIf=" a.loggedIn "><i class="material-icons">account_circle</i>Logout ({{ a.philgo.myName() }})</span>
          <span (click)=" a.openLogin() " *ngIf=" a.loggedOut "><i class="material-icons">account_circle</i>Login</span>
        </div>
      </div>
    </div>

    <div (click)=" a._.scrollToTop(1) ">
      <div class="p-2 border text-center pointer">Back To Top</div>
    </div>
  </div>

</section>
