<section id="footer" class="mt-2 border-box w-100 overflow-hidden fs-sm">

  <div class="adv footer-advertisement p-3" *ngIf=" a.inRootSite ">

    <div class="d-flex align-items-center">
      <div>
        <div class="d-flex-center size-32px circle bg-dark-2">
          <i class="material-icons">how_to_reg</i>
        </div>
      </div>
      <div class="ml-3">
        <b>Looking for foreign boss?</b><br>
        We have a lot of foregin boss who want to hire pinoy workers.
        <a class="link">Sonub Jobs</a>
      </div>
    </div>
  </div>


  <div class="blog-copyright mt-3 p-3 bg-light text-center" *ngIf="a.blog?.copyright">
    {{ a.blog.copyright }}
  </div>

  <div class="bottom-dark-menu p-3">
    <div class="search d-flex">
      <app-logo class="mx-1"></app-logo>
      <input class="flex-grow-1 fs-md mx-1 border-0">
      <button>Search</button>
    </div>

    <div class="container-fluid my-2">
      <div class="row">
        <div class="col">
          <a routerLink="/contact">Contact Us</a>
          <a routerLink="{{ a.getUrlPostViewByAccessCode( a.HELP, 'sonub-help') }}">Help</a>
          <a href="https://sonub.com" (click)=" onClickSonub( $event ) ">Sonub</a>
        </div>
        <div class="col">
          <a (click)=" a.displayHtml('terms-and-conditions') ">Terms & Conditions</a>
          <a (click)=" a.displayHtml('privacy') ">Privacy</a>
          <a (click)=" a.philgo.logout() " *ngIf=" a.loggedIn ">Logout ({{ a.philgo.myName() }})</a>
          <a (click)=" a.openLogin() " *ngIf=" a.loggedOut ">Login</a>
        </div>
      </div>
    </div>

    <div (click)=" a._.scrollToTop(1) ">
      <div class="p-2 border text-center pointer">Back To Top</div>
    </div>
  </div>

</section>
