<app-forum-basic-view [post]=" postView " *ngIf=" postView?.idx " (onVote)=" onVote( $event[0], $event[1] ) "
  (onReply)=" onReply( $event[0], $event[1] ) " (onClickMenu)=" onClickMenu( $event[0], $event[1] ) "></app-forum-basic-view>


<div class="d-flex align-items-stretch mb-2" *ngIf=" displayHeaderMenu ">
  <div class="flex-center px-2 w-100 bg-light fs-80 text-muted">
    <span>FORUM</span>
    <ion-icon class="mx-1" name="play"></ion-icon>
    <span>{{ philgo.forumName(forum?.post_id)}}</span>
  </div>
  <ion-button class="no-shadow ion-button-m-0" color="tertiary" (click)="onClickPost()">
    <ion-icon slot="start" name="add"></ion-icon>
    <ion-text>CREATE POST</ion-text>
  </ion-button>
</div>

<ion-item class="m-3 p-5" *ngIf=" show.firstPageLoader ">
  <ion-spinner></ion-spinner>
  <ion-text class="ml-3">Loading ...</ion-text>
</ion-item>

<ng-container *ngFor="let post of posts; even as isEven; odd as isOdd ">
  <app-forum-basic-view [class.even]=" isEven " [class.odd]=" isOdd "
  [post]=" post " (onView)=" onView( $event ) " (onVote)=" onVote( $event[0], $event[1] ) "
    (onReply)=" onReply( $event[0], $event[1] ) " (onClickMenu)=" onClickMenu( $event[0], $event[1] ) "></app-forum-basic-view>
</ng-container>



<div class="text-center py-3 text-muted" *ngIf=" noMorePosts ">
  {{ philgo.t({ en: 'There is no more posts.', ko: '더 이상 글이 없습니다.' })}}
</div>

<ion-infinite-scroll class="mt-3" (ionInfinite)="loadPage($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>