<mat-list>
  <h3 matSubheader>Menu</h3>
  <mat-list-item routerLink="/">
    <i class="material-icons">home</i>
    <h4 matLine>Home</h4>
  </mat-list-item>


  <mat-list-item (click)=" a.openMyBlog() " *ngIf=" ! a.inMyBlog ">
      <i class="material-icons">
        crop_original
      </i>
      <h4 matLine>My Blog</h4>
    </mat-list-item>
    <mat-list-item  routerLink="/blog-settings" *ngIf=" a.inMyBlog ">
      <i class="material-icons">
        crop_original
      </i>
      <h4 matLine>My Blog Settings</h4>
    </mat-list-item>

  <mat-list-item routerLink="/forum/freetalk_en">
    <i class="material-icons">chat</i>
    <h4 matLine>Discussion</h4>
  </mat-list-item>

  <mat-list-item routerLink="/forum/qna_en">
    <i class="material-icons">help</i>
    <h4 matLine>QnA</h4>
  </mat-list-item>

  <mat-list-item routerLink="/forum/news_en">
    <i class="material-icons">library_book</i>
    <h4 matLine>News</h4>
  </mat-list-item>


  <mat-list-item routerLink="/job">
    <i class="material-icons">people</i>
    <h4 matLine>Jobs</h4>
  </mat-list-item>


  <mat-list-item routerLink="/login" *ngIf=" philgo.isLoggedOut() ">
    <i class="material-icons">
      arrow_forward_ios
    </i>
    <h4 matLine>Login</h4>
  </mat-list-item>
  <mat-list-item (click)=" philgo.logout(); a.openHome() " *ngIf=" philgo.isLoggedIn() ">
    <i class="material-icons">
      arrow_forward_ios
    </i>
    <h4 matLine>Logout</h4>
  </mat-list-item>

  <mat-list-item routerLink="/register" *ngIf=" philgo.isLoggedOut() ">
    <i class="material-icons">
      arrow_forward_ios
    </i>
    <h4 matLine>{{ a.t({ en: 'Register', ko: '회원가입'}) }}</h4>
  </mat-list-item>

  <mat-list-item routerLink="/profile" *ngIf=" philgo.isLoggedIn() ">
    <i class="material-icons">
      arrow_forward_ios
    </i>
    <h4 matLine>{{ a.t({ en: 'Profile Update', ko: '회원 정보 수정'}) }}</h4>
  </mat-list-item>

</mat-list>

