<div class="text-center p-5" *ngIf=" show.loader.roomList; else roomListLoaded ">
    <ion-spinner class="mb-4"></ion-spinner>
    <div>{{ _.t({ko: '채팅방 목록을 로딩중입니다.', en: 'Loading chat room list.'}) }}</div>
</div>

<ng-template #roomListLoaded>
    <ion-list lines="full" *ngIf=" philgo.myRooms.length ">
        <ng-container *ngFor="let room of philgo.myRooms">
            <a ion-activable class="d-block position-relative" routerLink="/room/{{ room.idx }}">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-item class="pointer">
                    <ion-label>
                        <h3 class="fs-md">{{ room.name }}</h3>
                        <p class="mb-2 fs-sm text-secondary">{{ room.description }}</p>
                        <p class="d-flex align-items-center mb-1" *ngIf= "philgo.lastMessage( room )">
                            <span><ion-icon class="align-icon mr-1" name="mail"></ion-icon></span>
                            <span>{{ philgo.lastMessage( room ) }}</span>
                        </p>
                        <p class="d-none d-md-flex align-items-center">
                            <span><ion-icon class="align-icon mr-1" name="person"></ion-icon></span>
                            <span>{{ _.t({ ko: '총 인원: ', en: 'No of users: ' }) }}{{ room.no_of_member }}</span>
                        </p>
                    </ion-label>
                    <ion-icon color="dark" name="ribbon" *ngIf="room.idx_owner && room.idx_owner == philgo.myIdx() "></ion-icon>
                    <ion-icon color="primary" name="heart" *ngIf=" room.favorite == 'Y' "></ion-icon>
                    <ion-icon color="tertiary" name="notifications" *ngIf=" room.disable_alarm != 'Y' "></ion-icon>
                    <ion-badge class="border-radius-45px" slot="end" color="danger" *ngIf=" room.no_of_unread_messages != '0' ">{{ room.no_of_unread_messages }}</ion-badge>
                </ion-item>
            </a>
        </ng-container>
    </ion-list>
    
    <div class="flex-column-center my-4 mt-md-5 fs-md" text-center routerLink="/all-rooms" *ngIf=" ! philgo.myRooms.length ">
        <!-- <ion-img class="mx-5 px-5 mw-200px" src="/assets/img/chat-icon.png"></ion-img> -->
        <!-- <ion-text class="my-2 fs-xl" color="danger">{{ _.t({ko: '앗 ...?!', en: 'Oops ... ?!'}) }}</ion-text> -->
        <ion-icon color="medium" class="icon-lg" name="chatbubbles" mode="ios"></ion-icon>
        <ion-text class="mt-3 fs-lg">{{ _.t({ko: '앗! 회원님이 참여한 채팅 방이 없네요.', en: "Ooh! You haven't joined any room."}) }}</ion-text>
        <!-- <ion-text class="my-2 text-muted">{{ _.t({ko: '전체 채팅방 목록 메뉴에서 채팅방에 참여해보세요.', en: 'Please join a room under All Chat Room List menu.'}) }}</ion-text> -->
        <ion-button class="mt-3 no-shadow">
            <span>{{ _.t({ko: '전체 채팅방 목록', en:'All Chat Room List' }) }}</span>
            <ion-icon class="ml-1" name="open"></ion-icon>
        </ion-button>
    </div>
    
</ng-template>

<a class="playstore-button flex-center mt-3 p-3 pointer" *ngIf=" isMobileWeb " href="https://play.google.com/store/apps/details?id=com.sonub.chat"
    target="_blank">
    <span>{{ _.t({ko: '채팅앱 이용하기', en: 'Use chat app'})}}</span>
    <ion-icon class="icon-size ml-2" name="appstore"></ion-icon>
</a>
