@mixin size-32px {
    width: 32px !important;
    height: 32px !important;
}
@mixin position-top-right {
    position: absolute;
    z-index: 10002;
    top: 0;
    right: 0;
}

@mixin transparent-cover {
    position: absolute;
    z-index: 10001;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blue;
    opacity: 0.001;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pointer {
    cursor: pointer;
}

.w-200px {
    width: 200px !important;
}

.size-32px {
    @include size-32px();
}
.size-120px {
    width: 120px !important;
    height: 120px !important;
}

.no-shadow {
    --box-shadow: 0 !important;
}

.transparent-cover {
    @include transparent-cover();
}

.position-top-right {
    @include position-top-right();
}

.photo-delete-icon {
    // position-top-right pt-3 pr-5 size-32px pointer
    padding: 1em 2em 0 0;
    @include position-top-right();
    // @include transparent-cover();
    @include size-32px();
    cursor: pointer;
}

.flex-center {
    @include flex-center();
}