@mixin clearfix() {
    &:after {
        display: block;
        clear: both;
        content: '';
    }
}


@mixin size-px($w, $h) {
    width: $w + px !important;
    height: $h + px !important;
}

@mixin position-top-right {
    position: absolute;
    z-index: 10002;
    top: 0;
    right: 0;
}

@mixin transparent-cover {
    position: absolute;
    z-index: 10001;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blue;
    opacity: 0.001;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin submit-button {
    margin-top: 2rem !important;
    --height: 42px !important;
    --box-shadow: 0 !important;
}