.pointer {
    cursor: pointer;
}

.of-hidden {
    overflow: hidden !important;
}

.no-shadow {
    --box-shadow: 0 !important;
    box-shadow: none !important;
}

.border-radius-45px {
    border-radius: 45px
}

.ion-btn-large {
    --height: 4em;
}

.ion-btn-normal {
    --height: 3em;
}

@media (min-width:$md) {
    .w-md-50 {
        width: 50%;
    }
    .mt-md-5 {
        margin-top: 3rem !important;
    }
    .whitespace-md-prewrap {
        white-space: pre-wrap !important;
    }
}

.transparent-cover {
    @include transparent-cover();
}

/**
 *
 * @example use
    <div class="file position-relative mw-200px"....>
        <img class="w-100" src="{{ file.src_thumbnail }}">
        <ion-icon name="trash" class="photo-delete-icon bg-black white"></ion-icon>
        <ion-icon class="photo-delete-icon bg-black white" name="close" ...>
    </div>
 *
 */

.photo-delete-icon {
    margin: 0.5em 0.5em 0 0;
    padding: .3em;
    @include position-top-right();
    @include size-px(32, 32);
    border-radius: 50%;
    background-color: black;
    color: white;
    cursor: pointer;
}

.submit-button {
    @include submit-button();
}

.comments-depth {
    .comment {
        &[depth='0'] {
            margin-left: 0em;
        }
        &[depth='1'] {
            margin-left: 0em;
        }
        &[depth='2'] {
            margin-left: 1em;
        }
        &[depth='3'] {
            margin-left: 2em;
        }
        &[depth='4'] {
            margin-left: 3em;
        }
        &[depth='5'] {
            margin-left: 4em;
        }
        &[depth='6'] {
            margin-left: 5em;
        }
        &[depth='7'] {
            margin-left: 6em;
        }
        &[depth='8'] {
            margin-left: 7em;
        }
        &[depth='9'] {
            margin-left: 7em;
        }
        &[depth='10'] {
            margin-left: 7em;
        }
        &[depth='11'] {
            margin-left: 7em;
        }
        &[depth='12'] {
            margin-left: 7em;
        }
    }
}

.progress {
    display: inline-block;
    height: .9em;
    overflow: hidden;
    font-size: .75em;
    background-color: #e9ecef;
    border-radius: .25rem;
    box-shadow: inset 0 .1rem .1rem rgba(#000, .1)
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    white-space: nowrap;
    background-color: blue;
    transition: width .6s ease;
}