<div id="mobile-layout" class="d-lg-none">
  <div id="mobile-header">
    <app-header></app-header>
  </div>
  <div id="mobile-content">
    <router-outlet></router-outlet>
  </div>
</div>


<div id="desktop-layout" class="d-none d-lg-block">

  <app-desktop-header>
  </app-desktop-header>

  <table id="content-table">
    <tr>
      <td id="desktop-left">
        <div>
          <app-desktop-left></app-desktop-left>
        </div>
      </td>
      <td id="desktop-center">
        <div>
          <router-outlet></router-outlet>
        </div>
      </td>
      <td id="desktop-right">
        <div class="desktop-right-side-bar">
          <app-desktop-right></app-desktop-right>
        </div>
      </td>
    </tr>
  </table>


</div>
