<div class="#layout" [attr.route]=" a.route ">
  <div id="mobile-layout" *ngIf=" a.isMobile ">
    <div id="mobile-header">
      <app-mobile-header></app-mobile-header>
    </div>
    <div id="mobile-content">
      <router-outlet></router-outlet>
    </div>
    <div id="mobile-footer">
      <app-mobile-footer></app-mobile-footer>
    </div>
  </div>

  <div id="desktop-layout" *ngIf=" a.isDesktop ">
    <div id="desktop-header">
      <app-desktop-header></app-desktop-header>
    </div>
    <div id="desktop-content">
      <table id="content-table" cellpadding="0" cellspacing="0">
        <tr>
          <td id="desktop-left">
            <div>
              <app-desktop-left></app-desktop-left>
            </div>
          </td>
          <td id="desktop-center">
            <div class="desktop-center-content">
              <router-outlet></router-outlet>
            </div>

            <div id="desktop-footer">
              <app-mobile-footer></app-mobile-footer>
            </div>
          </td>
          <td id="desktop-right">
            <div class="desktop-right-sidebar" [class.fix]=" fix ">
              <app-desktop-right></app-desktop-right>
            </div>
          </td>
        </tr>
      </table>

    </div>

  </div>
</div>
