<ion-header>
    <app-header [title]=" a.t({ ko: '언어 선택', en: 'Language Selection', ch: '语言选择', jp: '言語選択'}) "></app-header>
  </ion-header>

<ion-content padding>


    <ion-list>

        <ion-item>
          <ion-label>Client Platform</ion-label>
          <ion-text> {{ a.getPlatform() }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>is Cordova?</ion-label>
          <ion-text> {{ isCordova }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Server URL</ion-label>
          <ion-text> {{ philgo.getServerUrl() }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Token</ion-label>
        </ion-item>
        <ion-item>
          <ion-text>{{ philgo.pushToken }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>App Protocol</ion-label>
          <ion-text>{{ protocol }}</ion-text>
        </ion-item>
    
        <ion-item>
          <ion-label>Production</ion-label>
          <ion-text> {{ a.environment.production }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Client Version</ion-label>
          <ion-text> {{ philgo.config.version }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Server Version</ion-label>
          <ion-text>{{ philgo.info?.chat_version }}</ion-text>
        </ion-item>
    
      </ion-list>




</ion-content>
