<h1>Login Page</h1>


<div *ngIf=" philgo.isLoggedIn(); else login ">
You have logged in as {{ philgo.nickname() }}.
</div>



<ng-template #login>

    <form (ngSubmit)="onSubmit( $event )" class="form">
        <mat-form-field class="full-width">
          <input [(ngModel)]=" form.uid " name="email" type="email" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input [(ngModel)]=" form.password " name="password" type="password" matInput placeholder="Password">
        </mat-form-field>
        <button type="submit" mat-flat-button>SUBMIT</button>
      </form>
      
</ng-template>
