<ion-header class="">
  <app-header [page]="'forum'" [title]=" title "></app-header>
</ion-header>


<ion-content>

  
    <ion-button (click)=" forumBasic.onClickPost() ">
      <ion-icon class="size-24px" name="add-circle"></ion-icon>
    </ion-button>
    
    

  <app-adv-loader *ngIf=" show.loader "></app-adv-loader>
  <app-forum-basic-list-component class="d-block mt-3"
  #forumBasic [displayHeaderMenu]=" false " [autoViewContent]=" false "
    (load)=" onLoad( $event ) "></app-forum-basic-list-component>

</ion-content>
