<mat-list>
  <h3 matSubheader>Menu</h3>
  <mat-list-item routerLink="/">
    <i class="material-icons">home</i>
    <h4 matLine>Home</h4>
  </mat-list-item>


  <mat-list-item (click)=" a.openMyBlog() " *ngIf=" ! a.inMyBlog ">
    <i class="material-icons">
      crop_original
    </i>
    <h4 matLine>My Blog</h4>
  </mat-list-item>
  <mat-list-item (click)=" a.openBlogSettings() " *ngIf=" a.inMyBlog ">
    <i class="material-icons">
      crop_original
    </i>
    <h4 matLine>My Blog Settings</h4>
  </mat-list-item>

  <mat-list-item routerLink="/forum/{{ a.DISCUSSION }}">
    <i class="material-icons">chat</i>
    <h4 matLine>Discussion</h4>
  </mat-list-item>

</mat-list>

<!-- 
<mat-toolbar>
  <h1>Blog Settings</h1>
  <span class="flex-grow-1"></span>
  <button mat-button (click)=" a.openMyBlog() ">My blog</button>
</mat-toolbar>


<form (ngSubmit)=" onSubmit( $event ) " class="blog-settings-form">

  <div class="list-row">
    <mat-form-field class="w-100">
      <input matInput name="name" [(ngModel)]=" blog.name " placeholder="Your blog name">
      <mat-hint>
        Input your blog name.
      </mat-hint>
    </mat-form-field>
  </div>
  <div class="list-row">
    <mat-form-field class="w-100">
      <textarea matInput name="description" [(ngModel)]=" blog.description " placeholder="Describe your blogs"></textarea>
      <mat-hint>
        Describe your blog in 255 letters.
      </mat-hint>
    </mat-form-field>
  </div>

  <div class="list-row">
    https://
    <mat-form-field>
      <input matInput name="domain" [(ngModel)]=" blog.domain " placeholder="Your domain">
    </mat-form-field>
    .sonub.com
    <div>
      Becareful when you change your domain. you will loose all your backlinks.
    </div>
  </div>

  <div class="list-row">
    <h3>Category Settings</h3>

    <div *ngFor="let n of [1, 2, 3, 4, 5, 6, 7, 8]">
      <mat-form-field class="w-100">
        <input matInput name="category{{ n }}" [(ngModel)]=" blog['category' + n] " placeholder="Category No. {{ n }} Name">
      </mat-form-field>
    </div>

  </div>



  <div class="list-row">
    <button mat-flat-button type="submit">Submit</button>
    <button mat-flat-button type="button" routerLink="/blog">Cancel</button>
  </div>

</form> -->
