.even, .odd {
    .post-header {
        ion-label{
            padding: .5em !important;
        }
    }
}
.odd {
    display: block;
    .post-header {
        background-color: rgb(243, 243, 243) !important;
    }
}