<p>
  FORUM > {{ philgo.forumName(forum?.post_id)}}
</p>

<ion-button (click)="onClickPost()">POST</ion-button>

<ion-card *ngFor="let post of posts">

  <ion-item>
    <ion-avatar slot="start">
      <img [src]="philgo.primaryPhotoUrl( post?.member?.idx_primary_photo )">
    </ion-avatar>
    <ion-list>
      <ion-item style="height: 24px;" *ngIf=" post?.member ">
        <ion-text>{{ post?.member?.nickname }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-text>No.: {{ post.idx }}</ion-text>
        <ion-text class="ml-2">Date: {{ philgo.shortDate(post.stamp) }}</ion-text>
      </ion-item>
    </ion-list>
    <ion-icon name="arrow-dropdown-circle" slot="end" (click)=" onClickMenu( $event, post ) "></ion-icon>
  </ion-item>

  <!-- {{ post | json }} -->
  <ion-card-header (click)=" onView( post ) ">
    <ion-card-title>{{ post.subject }}</ion-card-title>
  </ion-card-header>

  <ion-item>
    <ion-button (click)=" onView( post ) ">View Content</ion-button>
    <ion-button (click)=" onVote( post, 'good' ) ">Like{{ post.good == '0' ? '' : ' ' + post.good }}</ion-button>
    <ion-button (click)=" onVote( post, 'bad' ) ">Dislike{{ post.bad == '0' ? '' : ' ' + post.bad }}</ion-button>

    <ion-button (click)=" onReply( post, post ) ">
      <ion-icon name="quote"></ion-icon>
      <ion-text class="pl-2">Reply</ion-text>
    </ion-button>
  </ion-item>

  <ion-card-content *ngIf="post['showMore']">
    <div [innerHTML]="post?.content"></div>

    <ion-buttons>
      <ion-button (click)=" onReply( post, post ) ">
        <ion-icon name="quote"></ion-icon>
        <ion-text class="pl-2">Reply</ion-text>
      </ion-button>
    </ion-buttons>

    <ion-list class="comments comments-depth" *ngIf=" post?.comments?.length ">
      <ion-item class="comment" *ngFor=" let comment of post.comments " [attr.depth]=" comment.depth ">
        <div>
          No. {{ comment.idx }}
          <div [innerHTML]="comment.content"></div>
          <ion-buttons>
            <ion-button (click)=" onVote( comment, 'good' ) ">Like{{ comment.good == '0' ? '' : ' ' + comment.good }}</ion-button>
            <ion-button (click)=" onVote( comment, 'bad' ) ">Disike{{ comment.bad == '0' ? '' : ' ' + comment.bad }}</ion-button>
            <ion-button (click)=" onClickCommentEdit( comment ) ">
              <ion-icon name="create"></ion-icon>
              <ion-text>Edit</ion-text>
            </ion-button>
            <ion-button (click)=" onReply( comment, post ) ">
              <ion-icon name="quote"></ion-icon>
              <ion-text class="pl-2">Reply</ion-text>
            </ion-button>
            Delete Report
          </ion-buttons>
        </div>
      </ion-item>
    </ion-list>
  </ion-card-content>


  <ion-item>
    <ion-button (click)=" onView( post ) " *ngIf=" ! autoViewContent ">View Content</ion-button>
    <ion-button (click)=" onVote( post, 'good' ) ">Like{{ post.good == '0' ? '' : ' ' + post.good }}</ion-button>
    <ion-button (click)=" onVote( post, 'bad' ) ">Dislike{{ post.bad == '0' ? '' : ' ' + post.bad }}</ion-button>

    <ion-button (click)=" onReply( post, post ) ">
      <ion-icon name="quote"></ion-icon>
      <ion-text class="pl-2">Reply</ion-text>
    </ion-button>

    <ion-button (click)=" onDelete( post ) ">
      <ion-icon name="trash"></ion-icon>
      <ion-text class="pl-2">Delete</ion-text>
    </ion-button>

    <ion-button (click)=" onReport( post ) ">
      <ion-icon name="warning"></ion-icon>
      <ion-text class="pl-2">Report</ion-text>
    </ion-button>

  </ion-item>



  <ion-list class="comments comments-depth" *ngIf=" post?.comments?.length && show(post) ">
    <ion-item class="comment" *ngFor=" let comment of post.comments " [attr.depth]=" comment.depth ">
      <div>
        No. {{ comment.idx }}
        <div [innerHTML]="comment.content"></div>
        <ion-buttons>
          <ion-button (click)=" onVote( comment, 'good' ) ">Like{{ comment.good == '0' ? '' : ' ' + comment.good }}</ion-button>
          <ion-button (click)=" onVote( comment, 'bad' ) ">Disike{{ comment.bad == '0' ? '' : ' ' + comment.bad }}</ion-button>
          <ion-button (click)=" onClickCommentEdit( comment ) ">
            <ion-icon name="create"></ion-icon>
            <ion-text>Edit</ion-text>
          </ion-button>
          <ion-button (click)=" onReply( comment, post ) ">
            <ion-icon name="quote"></ion-icon>
            <ion-text class="pl-2">Reply</ion-text>
          </ion-button>
          <ion-button (click)=" onDelete( comment ) ">
            <ion-icon name="trash"></ion-icon>
            <ion-text class="pl-2">Delete</ion-text>
          </ion-button>

          <ion-button (click)=" onReport( comment ) ">
            <ion-icon name="warning"></ion-icon>
            <ion-text class="pl-2">Report</ion-text>
          </ion-button>

        </ion-buttons>
      </div>
    </ion-item>
  </ion-list>

</ion-card>