<ion-toolbar class="bg-transparent text-white">
  <ion-buttons slot="start">
    <ion-back-button text=""></ion-back-button>
  </ion-buttons>

  <ion-title>
    {{ title }}
  </ion-title>

  <ion-buttons slot="end">
    <ion-button routerLink="/housemaid">
      <ion-icon name="contact"></ion-icon>
    </ion-button>
    <ion-button routerLink="/register">
      <ion-icon name="person-add"></ion-icon>
    </ion-button>
    <ion-button routerLink="/menu">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>