@import '../../../../styles/variables';

mat-toolbar {
  justify-content: space-between;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: $header-height !important;
}

.size-25px{
  width: 25px!important;
  height: 25px!important;
}