<ion-header class="">
  <app-header [title]=" 'Menu' "></app-header>
</ion-header>


<ion-content padding>

  <ion-list class="list-menu">
      <ion-item routerLink="/">
        <ion-icon name="home"></ion-icon>
        <ion-text>Home</ion-text>
      </ion-item>
      <ion-item routerLink="/settings">
        <ion-icon name="settings"></ion-icon>
        <ion-text>Settings</ion-text>
      </ion-item>
    <ion-item routerLink="/register" *ngIf=" philgo.isLoggedOut() ">
      <ion-icon name="person-add"></ion-icon>
      <ion-text>Register</ion-text>
    </ion-item>
    <ion-item routerLink="/profile" *ngIf=" philgo.isLoggedIn() ">
      <ion-icon name="person-add"></ion-icon>
      <ion-text>Profile Update</ion-text>
    </ion-item>
    <ion-item routerLink="/login" *ngIf=" philgo.isLoggedOut() ">
      <ion-icon name="log-in"></ion-icon>
      <ion-text>Login</ion-text>
    </ion-item>
    <ion-item routerLink="/" *ngIf=" philgo.isLoggedIn() " (click)=" philgo.logout(); ">
      <ion-icon name="log-out"></ion-icon>
      <ion-text>Logout</ion-text>
    </ion-item>
  </ion-list>

</ion-content>