
<app-blog-category-top-menu *ngIf=" a.isMobile "></app-blog-category-top-menu>


<section class='blog-list'>

  <app-blog-view [post]=" postView "></app-blog-view>

  <ng-container *ngFor="let post of posts ">
    <app-blog-view [post]=" post "></app-blog-view>
  </ng-container>



  <div class="text-center py-5 my-5 text-muted" *ngIf=" noMorePosts ">
    {{ a.t({ en: 'There is no more posts.', ko: '더 이상 글이 없습니다.' })}}
  </div>

  <p class="flex-center m-3 p-5" *ngIf=" loading ">
    <mat-spinner [diameter]="30"></mat-spinner>
    <b class="ml-3">Loading ...</b>
  </p>

</section>
