<section class="login">
  <div class="form-title">
    <i class="material-icons">assignment_ind</i>
    <h1>Login</h1>
  </div>
  <div *ngIf=" philgo.isLoggedIn(); else login ">You have logged in as {{ philgo.nickname() }}.</div>

  <ng-template #login>
    <form class="form-content" (ngSubmit)="onSubmit( $event )">
      <mat-form-field class="w-100">
        <input matInput
               [(ngModel)]=" uid "
               name="email"
               type="email"
               placeholder="{{ _.t({ko: '로그인 아이디. 아이디 또는 닉네임, 이메일로 로그인 가능합니다.', en: 'Login ID ( Member ID / Nickname / Email )'})}}"
               (keyup.enter)="onSubmit()">
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput
               [(ngModel)]=" password "
               name="password"
               type="password"
               placeholder="{{ _.t({ko: '비밀번호', en: 'Password' }) }}"
               (keyup.enter)="onSubmit()"
        >
      </mat-form-field>
      <button class="w-100" type="submit" mat-flat-button>{{ _.t({ko: '로그인', en: 'Login' }) }}</button>
    </form>

  </ng-template>
</section>


