@import './../../../../styles/variables.scss';
.bg-gray{
    background: #ccc;
}
.bg-darkgreen{
    background:#1F766A  
}

.categories{
    mat-form-field{
        width: 100%;
    }
    @media (min-width:$md){
        mat-form-field:nth-child(odd){
            width: 50%;
            padding-right: .75rem;
        }
        mat-form-field:nth-child(even){
            padding-left: .75rem;
            width: 50%;
        }
    }
}
