<header>
    <mat-toolbar  class="border-top border-top-md-0">
        <h1 class="px-md-2 fw-light">Why Sonub PWA Blog?</h1>
    </mat-toolbar>
</header>
<main  class="bg-white p-3 px-md-4 fs-md">
  <div class="mt-2 mb-5 text-darkgreen">
      <p class="my-3">The only goal to open a blog is to get more clients or visitors and PWA does the best.</p>
      <p class="my-3">Sonub PWA Blog is the only blog service that gives you PWA specialized blog in the world.</p>
  </div>
      
     <section class="mt-4">
        <h2 class="fs-lg">How PWA gets more clients and visitors?</h2>
      
        <p class="mb-4">
          Please search internet to know more about it. 
          <a class="d-inline-flex align-items-center text-primary" href="https://en.wikipedia.org/wiki/Progressive_Web_Apps" target="_blank">
            See Wikipedia PWA documentation
            <i class="material-icons mx-1 fs-lg">open_in_new</i>
          </a>
        </p>
        
        <p class="d-flex align-items-center">
          <i class="material-icons mr-3 fs-icon">important_devices</i>
          Once visitors visited your blog, you can bring them back to your blog by sending Push Notification.
        </p>
        
        <p class="d-flex align-items-center">
          <i class="material-icons mr-3 fs-icon">how_to_reg</i>
          (2) Sonub PWA blog will make visitors to participate into your blog.
        </p>
        
        <p class="d-flex align-items-center">
          <i class="material-icons mr-3 fs-icon">tablet_android</i>
          (3) Sonub PWA blog will install an app on visitors mobile. So visitors can reach your blog by one touch.
        </p>
        
        <p class="d-flex align-items-center">
          <i class="material-icons mr-3 fs-icon">portable_wifi_off</i>
          (4) Your blog app will work on offline without internet connection.
        </p>
        
        <p>And PWA can do much more!</p>
        
        <p class="mt-5 mb-3 text-muted">Create world first PWA blog at sonub.com</p>
     </section> 
</main>
