@import './../../../styles/variables.scss';

/** This is mitake. It is hiding blog categories menu on desktop.
 * @see design guide line.
#home {
    margin-top: -1rem;
  }
*/


/** This is a big mistake. Never use global '*' since it will affect all the element in DOM ( or Shadow DOM )
* {
  box-sizing: border-box;
}
*/

// .community-posts {
//   font-size: .85rem;

//   .row {
//     margin: 0 -.25em;

//     .text {
//       overflow: hidden;
//       white-space: nowrap;
//       text-overflow: ellipsis;
//     }
//   }
// }

.text-editor {
  outline: 0;
  .editor {
    display: flex;
    align-items: center;
    flex: 1;
    padding: .5rem 1rem 1.1rem 1rem;
    border: 1px solid #d1d2d5;
    background: #fff;
    font-size: .85rem;
    cursor: text;

    .text{
      overflow: hidden; 
      padding-right: .2rem;
      // border-right: 2px solid #343a40;
      // white-space: nowrap;
      // animation: 
      //   typing 2s steps(40, end),
      //   caret .75s ease-in-out infinite;
    }
    
    // @keyframes typing {
    //   from { 
    //     max-width: 0
    //   }
    //   to { 
    //     max-width: 100%;
    //   }
    // }
    
    // @keyframes caret {
    //   0% { 
    //     border-color: transparent
    //   }
    //   50% { 
    //     border-color: #343a40 
    //   }
    //   100% { 
    //     border-color: transparent;
    //   }
    // }
  }
}
