
<div id="home">
  <app-blog-category-top-menu class="login-user-blog-content" *ngIf=" a.isMobile && a.inBlogSite "></app-blog-category-top-menu>
  <div class="text-editor d-md-flex align-items-center mt-2 mt-md-0 mb-md-default-spacing p-default-spacing bg-white" *ngIf=" a.inRootSite "
    routerLink="{{ a.getBlogPostCreateUrl() }}">
    <div class="d-flex align-items-center" *ngIf=" philgo.isLoggedIn() ">
      <app-avatar></app-avatar>
      <div class="user-meta px-2">
        <div class="name fs-md">{{ a.myName }}</div>
      </div>
    </div>
    <div class="editor d-flex align-items-center justify-content-between mt-md-0 rounded" [class.mt-2]="philgo.isLoggedIn()">
      <div class="text">
        <span class="text-dark fw-bold">What's your story?</span>
         ---- Text Animation with Hot topics
      </div>
      <i class="material-icons ml-2 text-secondary">all_inbox</i>
    </div>
  </div>

  <div id="home-body">

    <app-request-push-notification></app-request-push-notification>

    <!-- show only on rooe site -->
    <section *ngIf=" a.inRootSite ">

      <!-- show only if the user logged in -->
      <div class="my-md-default-spacing p-default-spacing bg-white">
          <app-blog-featured-wide-post *ngIf=" a.frontPage?.blog_featured_0 " [post]=" a.frontPage.blog_featured_0 "></app-blog-featured-wide-post>
          <app-blog-featured-posts [frontPage]=" a.frontPage " *ngIf=" a.frontPage "></app-blog-featured-posts>
      </div>

      <div class="login-user-blog-content my-md-default-spacing p-default-spacing bg-white" *ngIf=" a.loggedIn && a.frontPage?.latest_blog_posts?.length">
        <div class="my-blog-posts" *ngFor="let post of a.frontPage.latest_blog_posts">
          <app-post-line [post]=" post "></app-post-line>
        </div>
      </div>
      <!--/login-user-blog-content-->

      <div class=" my-md-default-spacing p-default-spacing bg-white">
          <h2 class="mt-0 mb-default-spacing fs-md text-dark">Community Posts</h2>
          <div class="d-md-flex align-items-stretch">
              <div class="community-photos of-hidden w-md-45" *ngIf=" a.frontPage?.communityPhotos?.length">
                  <div class="row no-gutters mx-minus-2px">
                    <div class="col-6 border-box of-hidden mb-2 p-2px pr-md-default-spacing" *ngFor="let post of a.frontPage.communityPhotos">
                      <app-post-thumbnail-with-text [post]="  post "></app-post-thumbnail-with-text>
                    </div>
                  </div>
                </div>
                <!--/community-photos-->
                
                <section class="community-posts d-flex flex-column justify-content-between mt-2 mt-md-0 ml-1 w-md-55" *ngIf=" a.frontPage?.communityPosts ">
                    <div  *ngIf=" a.frontPage.communityPosts['discussion']?.length >= 2 ">
                      <app-post-line [post]="a.frontPage.communityPosts['discussion'][0]"></app-post-line>
                      <app-post-line [post]="a.frontPage.communityPosts['discussion'][1]"></app-post-line>
                    </div>
                    <div *ngIf=" a.frontPage.communityPosts['answer']?.length >= 2 ">
                      <app-post-line [post]="a.frontPage.communityPosts['answer'][0]"></app-post-line>
                      <app-post-line [post]="a.frontPage.communityPosts['answer'][1]"></app-post-line>
                    </div>
                    <div *ngIf=" a.frontPage.communityPosts['market']?.length >= 2 ">
                      <app-post-line [post]="a.frontPage.communityPosts['market'][0]"></app-post-line>
                      <app-post-line [post]="a.frontPage.communityPosts['market'][1]"></app-post-line>
                    </div>
                    <div *ngIf=" a.frontPage.communityPosts['media']?.length >= 2 ">
                      <app-post-line [post]="a.frontPage.communityPosts['media'][0]"></app-post-line>
                      <app-post-line [post]="a.frontPage.communityPosts['media'][1]"></app-post-line>
                    </div>
                </section>
          </div>
      </div>


      <div class="my-md-default-spacing px-default-spacing pt-default-spacing bg-white" *ngIf=" a.frontPage?.news?.length ">
        <h2 class="mt-0 mb-md-default-spacing fs-md text-dark">Sonub News</h2>
        <div class="row no-gutters mr-minus-default-spacing">
          <div class="col-6 col-md-4 border-box pr-default-spacing" *ngFor="let post of a.frontPage.news; let index = index " >
              <app-post-multiline-with-thumbnail [post]=" post "></app-post-multiline-with-thumbnail>
          </div>
        </div>
      </div>


    </section>
    <!--/root site-->


    <!-- show only on blog site -->
    <div class="user-blog" *ngIf=" a.inBlogSite ">

      <div class="mb-md-default-spacing p-default-spacing bg-white">
          <app-blog-featured-wide-post *ngIf=" a.frontPage?.blog_featured_0 " [post]=" a.frontPage.blog_featured_0 "></app-blog-featured-wide-post>
          <app-blog-featured-posts [frontPage]=" a.frontPage " *ngIf=" a.frontPage "></app-blog-featured-posts>
      </div>

      <div class="one-line-posts my-md-default-spacing p-default-spacing bg-white" *ngIf=" a.frontPage?.latest_blog_posts?.length">
        <div *ngFor="let post of a.frontPage.latest_blog_posts">
          <app-post-line [post]=" post "></app-post-line>
        </div>
      </div>

      <div class="blog-latest-photos my-md-default-spacing px-default-spacing pt-default-spacing bg-white" *ngIf=" a.frontPage?.latest_blog_photos?.length ">
        <h2 class="mt-0 mb-md-default-spacing fs-md text-dark">Blog Posts</h2>
        <div class="row no-gutters mr-minus-default-spacing">
            <div class="col-6 col-md-4 border-box pr-default-spacing" *ngFor="let photo of a.frontPage.latest_blog_photos ">
              <app-post-multiline-with-thumbnail [post]="photo"></app-post-multiline-with-thumbnail>
            </div>
        </div>
      </div>


      <!-- <div class="community-posts w-100 overflow-hidden" *ngIf=" a.frontPage?.communityPhotos?.length">
            <div class="row no-gutters">
              <div class="col" *ngFor="let post of a.frontPage.communityPhotos">
                <app-post-thumbnail-with-text [post]="  post "></app-post-thumbnail-with-text>
              </div>
            </div>
          </div> -->
      <!--/community-posts-->
    </div>
  </div>

</div>
