12:59am

<div id="home">
  <app-blog-category-top-menu class="login-user-blog-content" *ngIf=" a.isMobile "></app-blog-category-top-menu>
  <div class="text-editor d-md-flex align-items-center rounded mt-3 mt-md-0 mb-md-3 p-3 bg-white" 
      *ngIf=" a.inRootSite " routerLink="{{ a.getBlogPostCreateUrl() }}" >
      <app-avatar class="mr-md-3"></app-avatar>
      <div class="editor mt-2 mt-md-0 rounded">
        What's your story? ---- Text Animation with Hot topics
      </div>
  </div>

  <div id="home-body" class="p-default-spacing p-md-3 bg-white">

    <app-request-push-notification></app-request-push-notification>

        <!-- show only on rooe site -->
        <section *ngIf=" a.inRootSite ">
      
          <!-- show only if the user logged in -->
          <app-blog-featured-wide-post *ngIf=" a.frontPage?.blog_featured_0 " [post]=" a.frontPage.blog_featured_0 "></app-blog-featured-wide-post>
      
          <app-blog-featured-posts [frontPage]=" a.frontPage " *ngIf=" a.frontPage "></app-blog-featured-posts>
      
          <div class="login-user-blog-content mb-default-spacing mt-default-spacing" *ngIf=" a.loggedIn && a.frontPage?.latest_blog_posts?.length">
            <div class="my-blog-posts" *ngFor="let post of a.frontPage.latest_blog_posts">
              <app-post-line [post]=" post "></app-post-line>
            </div>
          </div>
          <!--/login-user-blog-content-->
      
      
          <div class="community-photos w-100 of-hidden mt-5 mb-4" *ngIf=" a.frontPage?.communityPhotos?.length">
            <h2 class="my-0 fs-lg text-dark">Community Posts</h2>
            <div class="row no-gutters mx-minus-1">
              <div class="col-3 border-box of-hidden my-2 px-1" *ngFor="let post of a.frontPage.communityPhotos">
                <app-post-thumbnail-with-text [post]="  post "></app-post-thumbnail-with-text>
              </div>
            </div>
          </div>
          <!--/community-photos-->
      
          <section class="community-posts" *ngIf=" a.frontPage?.communityPosts ">
            <div class="row">
              <div class="col" *ngIf=" a.frontPage.communityPosts['discussion']?.length >= 2 ">
                <app-post-line [post]="a.frontPage.communityPosts['discussion'][0]"></app-post-line>
                <app-post-line [post]="a.frontPage.communityPosts['discussion'][1]"></app-post-line>
              </div>
              <div class="col" *ngIf=" a.frontPage.communityPosts['answer']?.length >= 2 ">
                <app-post-line [post]="a.frontPage.communityPosts['answer'][0]"></app-post-line>
                <app-post-line [post]="a.frontPage.communityPosts['answer'][1]"></app-post-line>
              </div>
            </div>
            <div class="row">
              <div class="col" *ngIf=" a.frontPage.communityPosts['market']?.length >= 2 ">
                <app-post-line [post]="a.frontPage.communityPosts['market'][0]"></app-post-line>
                <app-post-line [post]="a.frontPage.communityPosts['market'][1]"></app-post-line>
              </div>
              <div class="col" *ngIf=" a.frontPage.communityPosts['media']?.length >= 2 ">
                <app-post-line [post]="a.frontPage.communityPosts['media'][0]"></app-post-line>
                <app-post-line [post]="a.frontPage.communityPosts['media'][1]"></app-post-line>
              </div>
            </div>
          </section>
      
      
          <div class="mb-4" *ngIf=" a.frontPage?.news?.length ">
            <h2 class="my-0 fs-lg text-dark">Sonub News</h2>
            <app-post-multiline-with-thumbnail *ngFor="let post of a.frontPage.news " [post]=" post "></app-post-multiline-with-thumbnail>
          </div>
      
      
        </section>
        <!--/root site-->
      
      
        <!-- show only on blog site -->
        <div class="user-blog" *ngIf=" a.inBlogSite ">
      
          <app-blog-featured-wide-post *ngIf=" a.frontPage?.blog_featured_0 " [post]=" a.frontPage.blog_featured_0 "></app-blog-featured-wide-post>
      
          <app-blog-featured-posts [frontPage]=" a.frontPage " *ngIf=" a.frontPage "></app-blog-featured-posts>
      
          <div class="one-line-posts mb-default-spacing mt-default-spacing" *ngIf=" a.frontPage?.latest_blog_posts?.length">
            <div *ngFor="let post of a.frontPage.latest_blog_posts">
              <app-post-line [post]=" post "></app-post-line>
            </div>
          </div>
      
          <div class="blog-latest-photos" *ngIf=" a.frontPage?.latest_blog_photos?.length ">
            <div class="blog-latest-photo" *ngFor="let photo of a.frontPage.latest_blog_photos ">
              <app-post-multiline-with-thumbnail [post]="photo"></app-post-multiline-with-thumbnail>
            </div>
          </div>
          
      
          <!-- <div class="community-posts w-100 overflow-hidden" *ngIf=" a.frontPage?.communityPhotos?.length">
            <div class="row no-gutters">
              <div class="col" *ngFor="let post of a.frontPage.communityPhotos">
                <app-post-thumbnail-with-text [post]="  post "></app-post-thumbnail-with-text>
              </div>
            </div>
          </div> -->
          <!--/community-posts-->
        </div>
  </div>

</div>
