<mat-list class="bg-white border py-3">
  <h3 matSubheader>Blog Settings</h3>

  <mat-list-item routerLink="{{ a.getBlogSettingsBasicUrl() }}">
    <i class="material-icons">
      assignment
    </i>
    <h4 matLine>Blog Basic Information</h4>
  </mat-list-item>
  <mat-list-item  routerLink="{{ a.getBlogSettingsDomainUrl() }}">
    <i class="material-icons">
      create
    </i>
    <h4 matLine>Change Your Blog Domain</h4>
  </mat-list-item>

  <mat-list-item routerLink="{{ a.getBlogSettingsCategoryUrl() }}">
    <i class="material-icons">category</i>
    <h4 matLine>Blog Categories</h4>
  </mat-list-item>


  <mat-list-item routerLink="{{ a.getBlogStatVisitorUrl() }}">
      <i class="material-icons">equalizer</i>
      <h4 matLine>Visitor Statistics</h4>
    </mat-list-item>
  
    <mat-list-item routerLink="{{ a.getBlogSettingsSitemapUrl() }}">
        <i class="material-icons">equalizer</i>
        <h4 matLine>Sitemap</h4>
      </mat-list-item>
        
</mat-list>

