<div class="text-center p-5" *ngIf=" show.loader.roomList; else roomListLoaded ">
    <ion-spinner class="mb-4"></ion-spinner>
    <div>{{ tr.t({ko: '채팅방 목록을 로딩중입니다.', en: 'Loading chat room list.'}) }}</div>
</div>


<ng-template #roomListLoaded>

    <ion-toolbar>
        <ion-searchbar #searchBar (ionCancel)=" onCancelSearch() " (ionClear)=" onCancelSearch() " (ionChange)=" onSearch( searchBar.value ) "
            debounce="500" animated="true" autocomplete="on" placeholder="{{ tr.t({ko: '채팅방 검색', en: 'Search chat rooms' }) }}"></ion-searchbar>
    </ion-toolbar>

    <ion-list lines="full" *ngIf=" rooms.length ">
        
        <ng-container *ngFor="let room of rooms">
            <ion-item class="name pointer" (click)=" onClickRoom(room.idx) ">
                <ion-label ion-activable>
                    <ion-ripple-effect></ion-ripple-effect>
                    <h3 class="fs-md">{{ room.name }}</h3>
                    <p class="mb-2 fs-sm text-secondary">{{ room.description }}</p>
                    <p class="d-md-flex align-items-center">
                        <span><ion-icon class="align-icon mr-1" name="person"></ion-icon></span>
                        <span>{{ tr.t({ ko: '총 인원: ', en: 'No of users: ' }) }}{{ room.no_of_member }}</span>
                    </p>
                </ion-label>
                <ion-icon color="tertiary" name="ribbon" *ngIf=" room.idx_owner && room.idx_owner == philgo.myIdx() "></ion-icon>
                <ion-icon color="primary" name="heart" *ngIf=" room.idx_owner != philgo.myIdx() && room.favorite == 'Y' "></ion-icon>
                <!-- <ng-container>
                    <ion-badge *ngIf=" philgo.parseNumber(room.no_of_member) > 0 && philgo.parseNumber(room.no_of_member) <= 10 " color="light">{{ room.no_of_member }}</ion-badge>
                    <ion-badge *ngIf=" philgo.parseNumber(room.no_of_member) > 10" color="dark">{{ room.no_of_member }}</ion-badge>
                </ng-container> -->

            </ion-item>

            <!-- <ion-item class="meta pointer" (click)=" onClickRoom(room.idx) ">
                <ion-text text-wrap>{{ room.description }}</ion-text>
            </ion-item> -->

        </ng-container>
    </ion-list>


    <div class="flex-center flex-column mx-5" text-center routerLink="/all-rooms" *ngIf=" ! philgo.myRooms.length ">
        <ion-img class="mt-5 mx-5 px-5 mw-300px" src="/assets/img/chat-icon.png"></ion-img>
        <ion-text class="fs-lg my-2" color="danger">{{ tr.t({ko: '앗 ...?!', en: 'Oops ... ?!'}) }}</ion-text>
        <ion-text>{{ tr.t({ko: '채팅방이 검색되지 않습니다. 다른 단어로 검색해 보세요.', en: 'There is no chat room by the serarch. Try other words.'}) }}</ion-text>
    </div>

    
</ng-template>

<a class="playstore-button flex-center mt-3 p-3 pointer" *ngIf="isMobileWeb " href="https://play.google.com/store/apps/details?id=com.sonub.chat"
    target="_blank">
    <span>{{ tr.t({ko: '채팅앱 이용하기', en: 'Use chat app'})}}</span>
    <ion-icon class="icon-size ml-2" name="appstore"></ion-icon>
</a>