@import './../../../styles/variables.scss';

@media (min-width:$md){
    .size-md-64px{
        height: 64px;
        width: 64px;
    }
    .fs-md-normal{
        font-size: .95rem!important;
    }
}