.fw-light {
    font-weight: 200 !important;
}

.fs-xs {
    font-size: .5rem !important;
}

.fs-sm {
    font-size: .75rem !important;
}

.fs-md {
    font-size: .95rem !important;
}

.fs-lg {
    font-size: 1.2rem !important;
}

.fs-xl {
    font-size: 2.2rem !important;
}

.fs-80 {
    font-size: 80% !important;
}
