<div class="p-4 mb-md-default-spacing text-center bg-white" *ngIf="  !a._.isWebPushPermissionRequested() ">
    <div class="mt-2">{{ a.t({ko: '채팅 알림을 허용 해 주셔야 새로운 채팅이 있을 시 알림을 받을 수 있습니다.', en: 'Please allow notification. So we can notify
            you when your friends talk to you.'}) }}</div>
    <button class="flex-center mt-3 py-1 px-4 rounded bg-darkgreen fw-light fs-md" mat-flat-button (click)=" requestWebPushPermission() ">
      <i class="material-icons mr-2">notifications_active</i>
      <span>{{ a.t({ko: '채팅 알림 허용하기', en: 'Allow Notification'}) }}</span>
    </button>

</div>