<ion-list class="mb-0" *ngIf=" post ">

  <ion-item class="post-header" (click)="onView.emit( post ) ">
    <ion-avatar slot="start">
      <img [src]="philgo.primaryPhotoUrl( post?.member?.idx_primary_photo )">
    </ion-avatar>

    <ion-label ion-activable class="d-md-flex align-items-center justify-content-between my-1" text-wrap>
      <ion-ripple-effect></ion-ripple-effect>
      <h2 class="flex-1">{{ post.subject }} <span *ngIf="post.no_of_comment">({{ post.no_of_comment }})</span></h2>
      <p class="fs-sm my-md-0 ml-md-2">
        <span class="mr-3 darkgreen" *ngIf=" post?.member "> {{ post?.member?.nickname }}</span>
        <span>Date: {{ philgo.shortDate(post.stamp ) }}</span>
      </p>
    </ion-label>
  </ion-item>

  <ion-item class="post-content" *ngIf=" show(post) ">
    <div>
      <app-files-component *ngIf="post.files.length" class="d-block pt-2 pb-1" [post]=" post "></app-files-component>
      <div class="post-text-content mt-1" [innerHTML]="post?.content"></div>
    </div>
  </ion-item>


  <ion-item *ngIf=" show( post ) ">

    <ion-buttons class="d-block">

      <ion-button [attr.color]=" post.good == '0' ? 'medium' : 'primary'" (click)=" onVote.emit([ post, 'good' ]) ">
        <ion-icon slot="start" name="thumbs-up"></ion-icon>
        <ion-text> {{ post.good == '0' ? '' : ' ' + post.good }}</ion-text>
      </ion-button>

      <ion-button color="medium" (click)=" onVote.emit([ post, 'bad' ]) ">
        <ion-icon slot="start" name="thumbs-down"></ion-icon>
        <ion-text> {{ post.bad == '0' ? '' : ' ' + post.bad }}</ion-text>
      </ion-button>

      <ion-button color="medium" (click)=" onReply.emit([ post, post ]) ">
        <ion-icon slot="start" name="text" mode="ios"></ion-icon>
        <ion-text>Reply</ion-text>
      </ion-button>

      <ion-button (click)=" onClickMenu.emit([ $event, post ]) ">
        <ion-icon slot="icon-only" name="more" mode="ios"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-item>


  

  <ion-list class="comments comments-depth bg-light pt-2" *ngIf=" post?.comments?.length && show(post) ">
    <ion-item class="comment" *ngFor=" let comment of post.comments " [attr.depth]=" comment.depth ">
      <div class="ml-1 w-100">

        <ion-item>
          <ion-avatar slot="start">
            <img [src]="philgo.primaryPhotoUrl( comment?.member?.idx_primary_photo )">
          </ion-avatar>
          <div class="ml-2">
            <div class="fs-sm mb-1">{{ comment.member?.nickname }}</div>
            <div class="d-flex align-items-center">
              <div class="fs-sm">No. {{ comment.idx }}</div>
              <div class="ml-2 fs-sm">Date: {{ philgo.shortDate(post.stamp ) }}</div>
            </div>
          </div>
        </ion-item>

        <div class="pl-3 pt-1">
          <div [innerHTML]="comment.content"></div>
          <app-files-component *ngIf="comment.files.length" class="d-block pt-2 pb-1" [post]=" comment "></app-files-component>
        </div>

        <ion-buttons class="d-block">
          <ion-button [attr.color]=" comment.good == '0' ? 'medium' : 'primary'" (click)=" onVote.emit([ comment, 'good' ]) ">
            <ion-icon slot="start" name="thumbs-up"></ion-icon>
            <ion-text>{{ comment.good == '0' ? '' : ' ' + comment.good }}</ion-text>
          </ion-button>

          <ion-button color="medium" (click)=" onVote.emit([ comment, 'bad' ]) ">
            <ion-icon slot="start" name="thumbs-down"></ion-icon>
            <ion-text> {{ comment.bad == '0' ? '' : ' ' + comment.bad }}</ion-text>
          </ion-button>

          <ion-button color="medium" (click)=" onReply.emit([ comment, post ]) ">
            <ion-icon slot="start" name="text" mode="ios"></ion-icon>
            <ion-text>Reply</ion-text>
          </ion-button>

          <ion-button (click)=" onClickMenu.emit([ $event, comment ]) ">
            <ion-icon slot="icon-only" name="more" mode="ios"></ion-icon>
          </ion-button>

        </ion-buttons>
      </div>
    </ion-item>
  </ion-list>

</ion-list>