@mixin sidebar-width () {
  margin: 0;
  padding: 0;
  width: $sidebar-width;
  box-sizing: border-box;
}

#mobile-layout {
  #mobile-header {
    position: fixed;
    z-index: 12345;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;

  }

  #mobile-content {
    margin-top: $header-height;
    padding: $padding;
  }
}


#desktop-layout {
  #desktop-header {
    position: fixed;
    z-index: 12345678;
    top: 0;
    left: 0;
    right: 0;
    height: $desktop-header-height;
  }
  #desktop-content {
    margin-top: $desktop-header-height;
  }
  #content-table {
    margin: 0 auto;
    width: 100%;
    max-width: $max-width;


    tr {
      vertical-align: top;
    }
  }

  #desktop-left {

    background-color: blue;
    color: white;

    @include sidebar-width();

    &>div {
      @include sidebar-width();
      position: fixed;
    }
  }

  #desktop-center {
    padding: 0;
    max-width: $max-width - $sidebar-width * 2;
    overflow: hidden;
    box-sizing: border-box;

    &>div {
      box-sizing: border-box;
      background-color: aliceblue;
      padding: $padding;
    }

    img {
      max-width: 100%;
    }
  }

  #desktop-right {
    @include sidebar-width();
    background-color: green;
    color: white;

    .desktop-right-sidebar {
      @include sidebar-width();

      &.fix {
        position: fixed;
        bottom: 0;
      }
    }
  }

}
