#mobile-layout {
  #mobile-header {
    position: fixed;
    z-index: 12345;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;

  }

  #mobile-content {
    margin-top: $header-height;
    padding: $padding;
  }
}


#desktop-layout {
  #content-table {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;

    tr {
      vertical-align: top;
    }
  }

  #desktop-left {
    width: 220px;
    background-color: blue;
    color: white;

    &>div {
      width: 200px;
      position: fixed;
    }
  }

  #desktop-center {
    &>div {
      background-color: aliceblue;
      padding: $padding;
    }
  }

  #desktop-right {
    width: 220px;
    background-color: green;
    color: white;

    &>div {
      width: 200px;
      position: fixed;
      bottom: 0;
    }
  }

}
