@import './variables.scss';
.card{
    padding: $spacing;
    border: 1px solid #dddfe2;
    background: #fff;
    color: #000;
}


.link {
    color: blue !important;
    text-decoration: underline !important;
    cursor: pointer;
}


.link-list {
    display: block;
    padding: .5em;
    cursor: pointer;
    &:hover {
        background-color: rgb(236, 236, 236);
        color: #222;
    }
}


