[route='/menu'] {
    #mobile-header mat-toolbar {
        color: white!important;
        background-color: rgb(122, 122, 138)!important;
    }
}
[route*='/forum'] {
    #mobile-header mat-toolbar {
        color: white!important;
        background-color: rgb(204, 204, 204)!important;
    }
}


.post {
    img {
        max-width: 100%;
    }
}

