@import './variables.scss';

.h-36px {
  height: 36px !important;
}

.h-200px{
  height: 200px!important;
}

.h-100px{
  height: 100px!important;
}

@media (min-width:$md){

  .h-md-150px{
    height: 150px!important;
  }
}
.w-170px{
  width: 170px
} 
.h-64px{
  height: 64px
}


.size-24px {
  width: 24px;
  height: 24px;
}

.img-thumbnail {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  margin-right: .5rem;
}

.fw-bold {
  font-weight: 600;
}

.mb-default-spacing {
  display: block;
  margin-bottom: $spacing!important;
}
.mt-default-spacing {
  margin-top: $spacing!important;
}
.ml-default-spacing {
  margin-left: $spacing!important;
}
.mr-default-spacing {
  margin-right: $spacing!important;
}
.m-default-spacing{
  margin: $spacing!important;
}
.my-default-spacing{
  margin-top: $spacing!important;
  margin-bottom: $spacing!important;
}
@media (min-width:$md){
  .mb-md-default-spacing {
    margin-bottom: $spacing!important;
  }
  .mt-md-default-spacing {
    margin-top: $spacing!important;
  }
  .ml-md-default-spacing {
    margin-left: $spacing!important;
  }
  .mr-md-default-spacing {
    margin-right: $spacing!important;
  }
  .m-md-default-spacing{
    margin: $spacing!important;
  }
  .my-md-default-spacing{
    margin-top: $spacing!important;
    margin-bottom: $spacing!important;
  }
}

.p-default-spacing{
  padding: $spacing!important;
}

.relative {
  display: block;
  position: relative;
}

.top-left {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.top-right {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}

.left-bottom {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
}

.left-bottom-right {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
}

.overflow-hidden {
  overflow: hidden !important;
}

.bg-grey {
  background-color: grey !important;
}

.bg-green {
  background-color: green !important;
}

.bg-gold {
  background-color: gold !important;
}

.bg-dark-1 {
  background-color: rgb(220, 220, 220) !important;
}

.bg-dark-2 {
  background-color: rgb(205, 205, 205) !important;
}

.bg-dark-opacity-5 {
  background-color: rgba(32, 32, 32, 0.5);
}

.bg-darkgreen{
  background:#1F766A  
}


.border-box {
  box-sizing: border-box;
}


.border-1 {
  border: 1px solid grey;
}


@mixin box {
  // margin-top: .5em;
  margin-top: 12px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  background-color: white;
  font-size: .85em;

  header {
    padding: 1em;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: #f8f9fa !important;
    // border-bottom: 1px solid rgb(204, 204, 204);
    color: #6c757d;
    font-weight: bold;
  }

  article {
    padding: .5em 1em;
  }

  footer {
    padding: .5em 1em 1em;
  }
}

.box {
  @include box();
}

.ad-box {
  @include box();

}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.gutters-sm {
  margin-right: 4px;
  margin-left: 4px;

  >.col,
  >[class*="col-"] {
    padding-right: 4px;
    padding-left: 4px;
  }
}


.bold {
  font-weight: bold !important;
}


.side-menu {
  margin-top: 1em;
  font-size: .9em;
  header {
    font-weight: bold;
  }
  ul {
    list-style: none;
    margin: .5em 0 0;
    padding: 0;
    li {
      display: flex;
      padding-left: .5em;
    }
  }
}



/**
 * sizes
 * size grow by 16px and 100px
 */
.w-100px {
  width: 100px !important;
}

.w-200px {
  width: 200px !important;
}

.w-300px {
  width: 300px !important;
}

.h-128px{
  height: 128px!important;
}


.mw-100px {
  max-width: 100px !important;
}

.mw-200px {
  max-width: 200px !important;
}

.mw-md-200px {
  @media (min-width: $md) {
      max-width: 200px !important;
  }
}

.mw-300px {
  max-width: 300px !important;
}

.fs-xxl{
  font-size: 2.25rem;
}

.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-wrap{
  word-break: break-all;
}

.text-link{
  color: #365899!important;
}

.text-darkgreen{
  color: #1F766A;
}

.p-2px{
  padding: 2px!important;
}

.m-2px{
  margin: 2px!important;
}

.mt-2px{
  margin-top: 2px!important;
}

.mx-minus-2px{
  margin-left: -2px!important;
  margin-right: -2px!important;
}


.mx-minus-1{
  margin-left: -.25rem;
  margin-right: -.25rem;
}
.mx-minus-2{
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.line-height-0{
  line-height: 0;
}

