/**
 * For mobile
 */
$header-height: 38px;

/**
 * For desktop
 */
$desktop-header-height: 44px;
$max-width: 1200px;
$sidebar-width: 240px;

/**
 * Shared vars
 */
$padding: 8px;
$spacing: 12px;

.transparent-cover-wrapper {
    position: relative;
}
.transparent-cover {
  position: absolute;
  z-index: 10001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  background-color: blue;
  opacity: 0.001;
}
