<section class=" p-3 p-md-4 bg-white">

    <div class="flex-center flex-md-row flex-column p-default-spacing fs-md">
        <div class="text-center">
            I am looking for 
            <mat-form-field appearance="outline" class="mx-1 mt-2 mt-md-0 mat-pb-0 fs-80">
                <mat-label>Choose Occupation</mat-label>
                <mat-select name="category" [(ngModel)]="category">
                    <mat-option value="housemaid">Housemaid</mat-option>
                    <mat-option value="driver">Driver</mat-option>
                    <mat-option value="englishtutor">English Tutor</mat-option>
                    <mat-option value="carpenter">Carpenter</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="m-2">or</div> 
        <button class="mx-2 flex-center rounded border bg-primary py-1 px-3 white pointer" routerLink="/job-post">
            <i class="material-icons mr-1">how_to_reg</i>
            <span>Apply for a job</span>
        </button> 

    </div>
    
    <app-job-list-component [group_id]=" a.groupId " [category]=" category "></app-job-list-component>
            
</section>