<div>
    <a routerLink="/register">
      <img class="size-32px" src="{{ a.myPhotoUrl }}">
      {{ a.myName }}
    </a>
</div>

<div>
    Blog Category 1<br>
    Blog Category 2<br>
    Blog Category 3<br>
    Blog Category 4<br>
    Blog Category 5<br>
</div>
<div>
  Comments, Likes
</div>
<div>
Post |  Settings | Stat<br>
  Manage Blog Caetgores<br>
  Themes and widgets<br>
  Friends<br>
  Blocked users, Who can comments,<br>
</div>
<div>
  Statistics<br>
  Today, Yesterday, last 7 days.<br>

</div>
