<div>
  <a routerLink="/register">
    <img class="size-32px" src="{{ a.myPhotoUrl }}">
    {{ a.myName }}
  </a>
</div>

<section class="root-site-content" *ngIf=" a.inRootSite ">
  <section class="side-menu">
    <b>Sonub Network Hub</b>
    <ul>
      <li>
        <i class="material-icons">border_color</i>
        <a routerLink="{{ a.getUrlPostViewByAccessCode( a.HELP, 'become-best-blog-writer' ) }}">Become Best Blog Writer</a>
      </li>
      <li>
        <i class="material-icons">format_bold</i>
        <a routerLink="{{ a.getUrlPostViewByAccessCode( a.HELP, 'create-your-blog-now' ) }}">Create your blog now</a>
      </li>
    </ul>

  </section>
  <section class="side-menu root-site-content">
    <header>Communities</header>
    <ul>
      <li>
        <i class="material-icons">question_answer</i>
        <a routerLink="{{ a.getForumUrl( a.DISCUSSION ) }}">Discussion</a>
      </li>
      <li>
        <i class="material-icons">help</i>
        <a routerLink="{{ a.getForumUrl( a.QNA ) }}">QnA</a>
      </li>
      <li>
        <i class="material-icons">shopping_cart</i>
        <a routerLink="{{ a.getForumUrl( a.BUYANDSELL ) }}">Buy and Sell</a>
      </li>
      <li>
        <i class="material-icons">fiber_new</i>
        <a routerLink="{{ a.getForumUrl( a.NEWS ) }}">News</a>
      </li>
      <li>
        <i class="material-icons">work</i>
        <a routerLink="/job">Jobs</a>
      </li>
      <li *ngIf=" a.philgo.isAdmin() ">
        <i class="material-icons">help</i>
        <a routerLink="{{ a.getForumUrl( a.HELP ) }}">Managment Forum</a>
      </li>
    </ul>
  </section>

</section>
<!--/inRoot-->

<section class="user-content" *ngIf=" a.inBlogSite ">
  <div clas="blog-name" *ngIf=" a.blog?.name ">
    {{ a.blog.name }}
  </div>
  <div class="side-menu" *ngIf=" a.blog?.categories?.length ">
    <ul>
      <li *ngFor=" let category of  a.blog.categories " routerLink="{{ a.getBlogCategoryUrl(category) }}">{{ category
        }}</li>
        <li routerLink="{{ a.getBlogCategoryUrl( 'all' ) }}">All posts</li>
    </ul>
    
  </div>

  <div>
  </div>

  <section class="side-menu blog-site-content" *ngIf=" a.inBlogSite ">
    <header routerLink="{{ a.getBlogManagementUrl() }}">Blog Managment</header>
    <ul>
      <li routerLink="{{ a.getBlogManagementUrl() }}">Blog dashboard</li>
      <li routerLink="{{ a.getBlogSettingsCategoryUrl() }}">Categories</li>
      <li routerLink="{{ a.getBlogStatVisitorUrl() }}">Statistics</li>
    </ul>
  </section>


</section>
