<section page="post">

  <app-avatar *ngIf=" philgo.isLoggedIn() "></app-avatar>
  <section *ngIf=" philgo.isLoggedOut() ">
<!-- 
    <mat-form-field>
      <input matInput placeholder="Name" name="name" [(ngModel)]=" form.user_name " (keyup)="onSubjectKeyUp()">
      <mat-hint>Name</mat-hint>
    </mat-form-field> -->


    <mat-form-field>
      <input matInput type="email" placeholder="Email" name="email" [(ngModel)]=" form.user_email " (keyup)="onSubjectKeyUp()">
      <mat-hint>Email</mat-hint>
    </mat-form-field>


    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]=" form.user_password " (keyup)="onSubjectKeyUp()">
      <mat-hint>Password</mat-hint>
    </mat-form-field>

  </section>


  Posting on {{ form.post_id }}

  <!-- <ng-simple-editor #editor [icons]="true" [init]="{ cursor: true }" (change)=" onChangeContent( $event ) "></ng-simple-editor> -->
  <ckeditor class='ckeditor' [editor]="Editor" [(ngModel)]=" form.content " (change)="onChangeContent( $event )"
    [config]="{
    ckfinder: {uploadUrl: philgo.getFileServerRootUrl() + 'etc/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images&responseType=json' }
  }"></ckeditor>

  <div class="mt-1">


    <mat-form-field class="w-100">
      <input class="w-100" matInput placeholder="Title" name="subject" [(ngModel)]=" form.subject " (keyup)="onSubjectKeyUp()">
      <mat-hint>Please input title</mat-hint>
    </mat-form-field>

  </div>
  <!-- <div class="mt-1">
    <app-display-files [edit]=" true " [post]=" form " [percentage]=" percentage "></app-display-files>
  </div> -->

  <div class="mt-1">

    <!-- <button mat-flat-button class="transparent-cover-wrapper">
      <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event)">
      <div>Photo Upload</div>
    </button> -->

    <button mat-flat-button (click)=" onSubmit() ">{{ a.t({ en: 'SUBMIT', ko: '글 등록'}) }}</button>


  </div>

</section>
