<section class="p-3 p-md-4  bg-white" page="post">

  <div class="d-md-flex justify-content-between mt-2 pr-md-1">
    <div class="d-flex mb-3 mr-md-3 flex-grow-1"  *ngIf=" philgo.isLoggedIn() ">
        <app-avatar></app-avatar>
        <div class="user-meta px-2 truncate">
          <div class="name fs-md">{{ a.myName }}</div>
          <div class="text-success fs-md">Posting on {{ form.post_id }}</div>
        </div>  
    </div>
    <div class="w-100" [class.w-md-70]="philgo.isLoggedIn()">
      <!-- <div class="fs-sm">Select where you want to post...</div> -->
      <div class="d-flex flex-wrap flex-md-nowrap">
        <mat-form-field class="w-100">
          <mat-select placeholder="Select where you want to post..." name='post_id' [(ngModel)]="form.post_id">
            <mat-option value=''>Select Forum </mat-option>
            <mat-option value='blog'>My Blog</mat-option>
            <mat-option value='discussion'>Discussion</mat-option>
            <mat-option value='answer'>Question & Answer</mat-option>
            <mat-option value='market'>Buy & Sell</mat-option>
            <mat-option value='media'>News</mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf=" a.blog?.categories ">
          <mat-form-field class="w-100 ml-md-4" *ngIf=" form.post_id == 'blog' ">
            <mat-select name='category' [(ngModel)]="form.category" placeholder="Select Blog Category">
              <ng-container *ngIf=" a.blog.categories?.length ">
                <mat-option *ngFor=" let category of a.blog.categories " value='{{ category }}'>{{ category }}</mat-option>
              </ng-container>
              <ng-container *ngIf=" ! a.blog.categories?.length ">
                <mat-option value=''>No category. Please create category.</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>
    </div>
  </div>

  <section class="d-md-flex" *ngIf="philgo.isLoggedOut() ">

    <mat-form-field appearance="outline" class="w-100 mr-md-3">
      <input matInput type="email" name="email" [(ngModel)]=" form.user_email " (keyup)="onSubjectKeyUp()">
      <mat-label>Email</mat-label>
    </mat-form-field>


    <mat-form-field appearance="outline" class="w-100 ml-md-3">
      <input matInput type="password" name="password" [(ngModel)]=" form.user_password " (keyup)="onSubjectKeyUp()">
      <mat-label>Password</mat-label>
    </mat-form-field>

  </section>


  <mat-form-field appearance="outline" class="w-100">
    <input class="w-100" matInput name="subject" [(ngModel)]=" form.subject " (keyup)="onSubjectKeyUp()">
    <mat-label>Title</mat-label>
  </mat-form-field>


  <ckeditor class='ckeditor' #ckeditor [editor]="Editor" [(ngModel)]=" form.content " (change)="onChangeContent( $event )"
    [config]="{
      toolbar: [  'heading', '|',  'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockquote', '|', 'undo', 'redo' ]


  }">
    <div>Write comment</div>
  </ckeditor>

  <div class="flex-center justify-content-between my-2">

    <div class="left d-flex align-items-center flex-grow-1">

      <div class="camera transparent-cover-wrapper flex-center p-2">
        <input class="transparent-cover pointer w-100" type="file" name="file" (change)="onChangeFile($event)">
        <i class="material-icons pointer fs-xl text-dark">camera_alt</i>
        <span class="d-none d-md-inline ml-2 fs-md text-muted" *ngIf=" ! percentage  ">Upload Photo</span>
      </div>

      <div class=" mw-100 mx-md-2 p-1 rounded  border-box bg-success fs-xs white text-center" *ngIf=" percentage  "
        [style.width]=" percentage + '%'">{{ percentage }}%</div>
    </div>

    <div class="right">
      <button class=" bg-white black bg-light fs-sm" mat-flat-button type="button" routerLink="/menu">
        <i class="material-icons red">clear</i>
        <span class="ml-1">Cancel</span>
      </button>
      <button class=" bg-primary fs-sm" mat-flat-button type="submit" (click)=" onSubmit() ">
        <span class="flex-center" *ngIf="!loader.submit">Submit <i class="ml-2 material-icons">send</i></span>
        <span class="flex-center" *ngIf="loader.submit">
          <mat-spinner class="d-inline-block loader-white" [diameter]="24"></mat-spinner><span class="ml-2">{{a.t({ko: '로딩...', en: 'Loading...' })}}</span>
        </span>
      </button>
    </div>
  </div>


  <app-display-files [post]=" form " [edit]=" true "></app-display-files>



  <section class="admin-options box" *ngIf=" philgo.isAdmin() ">
    <header>Admin Options</header>
    <article>
      <mat-form-field appearance="outline" class="mt-3 w-100">
        <input class="w-100" matInput name="access_code" [(ngModel)]=" form.access_code " (keyup)="onSubjectKeyUp()">
        <mat-label>Access Code</mat-label>
      </mat-form-field>
    </article>
  </section>



</section>
