.white {
    color: white !important;
}

.black {
    color: black !important;
}

.red {
    color: red !important;
}

.darkgreen{
    color: darkgreen
}

.blue {
    color: blue !important;
}

.darkred {
    color: darkred !important;
}

.darkblue{
    color: darkblue!important
}