<h2 class="mb-1 text-link fw-light" matDialogTitle *ngIf="data?.title">{{ data.title }}</h2>
<i class="close-icon top-right material-icons" (click)="close()" *ngIf=" data?.close ">close</i>
<mat-dialog-content [innerHTML]=" data.content "></mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="data.ok || data.yes || data.no">
    <button class="bg-primary" mat-flat-button color="primary" [mat-dialog-close]="true" *ngIf=" data?.ok ">{{ data.ok }}</button>
    <button class="bg-primary" mat-flat-button color="primary" [mat-dialog-close]="true" *ngIf=" data?.yes ">{{ data.yes }}</button>
    <button class="ml-2" mat-button color="warn" [mat-dialog-close]="false" cdkFocusInitial *ngIf=" data?.no ">
        <span>{{ data.no }}</span>
    </button>
</mat-dialog-actions>

