<h2 matDialogTitle *ngIf="data?.title">{{ data.title }}</h2>
<mat-dialog-content [innerHTML]=" data.content "></mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="bg-primary" mat-flat-button color="primary" [mat-dialog-close]="true" *ngIf=" data?.ok ">{{ data.ok }}</button>
    <button class="bg-primary" mat-flat-button color="primary" [mat-dialog-close]="true" *ngIf=" data?.yes ">{{ data.yes }}</button>
    <button class="ml-2" mat-button color="warn" [mat-dialog-close]="false" cdkFocusInitial *ngIf=" data?.no ">
        <span>{{ data.no }}</span>
    </button>
</mat-dialog-actions>
