<div class="files" *ngIf=" post?.files?.length ">

  <div class="photos clearfix" [attr.no]=" photos().length " *ngIf=" photos().length ">

    <div class="photo" *ngIf=" edit == false && photos().length == 1">
      <img class="w-100" src="{{ photos()[0].src }}">
    </div>

    <div class="photo row no-gutters" *ngIf=" edit == false && photos().length == 2">
      <div class="col" *ngFor=" let photo of photos() ">
        <img class="d-block w-100 pr-2" src="{{ philgo.thumbnailUrl({ width: 320, height: 160, idx: photo.idx }) }}">
      </div>
    </div>

    <ng-container *ngIf=" edit || photos().length > 2 ">
      <div class="photo position-relative float-left py-1 pr-2 mw-100px mw-md-200px" [class.edit]=" edit " *ngFor=" let photo of photos() ">
        <img class="w-100" src="{{ photo.src_thumbnail }}">
        <ion-icon *ngIf=" edit " name="trash" class="photo-delete-icon" (click)=" onClickDeleteButton( photo ) "></ion-icon>
      </div>
    </ng-container>

  </div>

  <div class="attachments pt-2">
    <div class="file" *ngFor=" let file of attachments() ">
      <a class="w-100" href="{{ file.url_download }}">
        {{ file.name }}
      </a>
      <ion-icon *ngIf=" edit " name="trash" class="attachment-delete-icon" (click)=" onClickDeleteButton( file ) "></ion-icon>
    </div>
  </div>
</div>
<div class="upload-bar text-center" *ngIf=" percentage ">
  <div class="progress w-200px">
    <div class="progress-bar" [style.width]=" percentage + '%' ">{{percentage}}%</div>
  </div>
</div>