.result {
  .s-title{
    margin: 0;
    font-size: 1rem;
    font-weight: lighter
  }
  .s-image{
    min-height: 50px;
    min-width: 80px;
    max-height: 50px;
    max-width: 80px;
    overflow: hidden;
  }
  .s-link {
    padding-bottom: 3px;
    padding-top: 2px;
    color: #0a6c2a;
  }
  .s-content {
    line-height: 1.45;
    font-size: .825em;
  }
}
