.result {
  h3 {
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  .s-link {
    padding-bottom: 3px;
    padding-top: 2px;
    color: #0a6c2a;
  }
  .s-content {
    line-height: 1.4;
    font-size: .8em;
    .s-author {
      font-weight: 500;
    }
    .s-date {

    }
  }
}
