<h1>Register Page</h1>


<div *ngIf=" philgo.isLoggedIn(); else register ">
You have logged in as {{ philgo.nickname() }}.
</div>


<ng-template #register>

    <form (ngSubmit)="onSubmit( $event )" class="form">
        <mat-form-field class="full-width">
          <input [(ngModel)]=" form.email " name="email" type="email" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input [(ngModel)]=" form.password " name="password" type="password" matInput placeholder="Password">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input [(ngModel)]=" form.nickname " name="nickname" type="text" matInput placeholder="Nickname">
        </mat-form-field>
        <button type="submit" mat-flat-button>SUBMIT</button>
      </form>
      
</ng-template>