<ion-header>
  <app-header [title]=" a.t({ ko: '언어 선택', en: 'Language Selection', ch: '语言选择', jp: '言語選択'}) "></app-header>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>{{ a.t({
          ko: '앱에서 사용할 언어를 선택해주세요.',
          en: 'Please choose your language.', ch: '请选择您的语言。', jp: 'あなたの言語を選択してください。' }) }}</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>English</ion-label>
        <ion-radio slot="start" value="en" [checked]=" philgo.ln == 'en' " (ionSelect)=" onIonSelect($event) "></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>한국어</ion-label>
        <ion-radio slot="start" value="ko" [checked]=" philgo.ln == 'ko' " (ionSelect)=" onIonSelect($event) "></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>中文</ion-label>
        <ion-radio slot="start" value="ch" [checked]=" philgo.ln == 'ch' " (ionSelect)=" onIonSelect($event) "></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>日本語</ion-label>
        <ion-radio slot="start" value="jp" [checked]=" philgo.ln == 'jp' " (ionSelect)=" onIonSelect($event) "></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>
