<section class="post blog-view bg-white" *ngIf=" post?.idx ">

  <div class="post-header">
    <div class="thumbnail">
      <img [src]="philgo.primaryPhotoUrl( post?.member?.idx_primary_photo )">
    </div>
    <div class="post-header-text">
      <h2>
        {{ post.subject }} <span *ngIf="post.no_of_comment">({{ post.no_of_comment }})</span>
      </h2>
      <div class="fs-sm">
        <span class="mr-3 darkgreen" *ngIf=" post?.member "> {{ post?.member?.nickname }}</span>
        <span>Date: {{ philgo.shortDate(post.stamp ) }}</span>
        <span class="pl-2">[{{ post.category }}]</span>
      </div>
    </div>
  </div>

  <div class="post-content ">
    <div>
      <div class="post-text-content child-image-mw-100 child-image-my-2 child-caption-center-bold child-figure-m-0 pb-2" [innerHTML]=" a.safeHtml( post?.content ) "></div>
    </div>

    <div class="post-buttons border-top">
      <button [attr.color]=" post.good == '0' ? 'medium' : 'primary'" (click)=" onVote(post, 'good') ">
        <i class="material-icons">thumb_up</i>
        <span> {{ post.good == '0' ? '' : ' ' + post.good }}</span>
      </button>
      <button color="medium" (click)=" onVote(post, 'bad') ">
        <i class="material-icons">thumb_down</i>
        <span> {{ post.bad == '0' ? '' : ' ' + post.bad }}</span>
      </button>
      <button (click)=" onEdit(post) ">Edit</button>
      <button (click)=" onDelete( post ) ">Delete</button>
      <button (click)=" onReport( post ) ">Report</button>

      <button mat-icon-button [matMenuTriggerFor]="postMenu" *ngIf=" a.inMyBlog && a.philgo.isMyPost(post) ">
        <mat-icon class="text-success">more_vert</mat-icon>
      </button>

      <mat-menu #postMenu="matMenu">
        <ng-template matMenuContent>
          <button class="flex-center" mat-menu-item (click)=" onClickFeature(0) " routerLink="/" >
            <mat-icon>photo_size_select_actual</mat-icon>
            <span>Featured Post</span>
          </button>
          <button class="flex-center" mat-menu-item [matMenuTriggerFor]="subMenu">
            <mat-icon>photo_size_select_actual</mat-icon>
            <span>More Features</span>
          </button>

          <button class="flex-center" mat-menu-item (click)=" a.openNotification(post.idx) ">
            <mat-icon>photo_size_select_actual</mat-icon>
            <span>Send Notifications</span>
          </button>

        </ng-template>
      </mat-menu>

      <mat-menu #subMenu="matMenu">
        <ng-template matMenuContent>
          <button mat-menu-item (click)=" onClickFeature(1) "   routerLink="/">Feature 1</button>
          <button mat-menu-item (click)=" onClickFeature(2) "   routerLink="/">Feature 2</button>
          <button mat-menu-item (click)=" onClickFeature(3) "   routerLink="/">Feature 3</button>
          <button mat-menu-item (click)=" onClickFeature(4) "   routerLink="/">Feature 4</button>
        </ng-template>
      </mat-menu>

    </div>
  </div>


  <div class="border-top">
    <app-comment-box [root]=" post " [post]=" post "></app-comment-box>
    

    <div class="comments comments-depth bg-white px-3 pt-2" *ngIf=" post?.comments?.length ">
      <div class="comment" *ngFor=" let comment of post.comments " [attr.depth]=" comment.depth ">

        <div class="ml-1 w-100">

          <div class="d-flex  pt-3 pb-1">
            <div class="thumbnail">
              <img [src]="philgo.primaryPhotoUrl( comment?.member?.idx_primary_photo )">
            </div>
            <div class="ml-2">
              <div class="fs-sm mb-1">{{ comment.member?.nickname }}</div>
              <div class="d-flex align-items-center">
                <div class="fs-sm">No. {{ comment.idx }}</div>
                <div class="ml-2 fs-sm">Date: {{ philgo.shortDate(post.stamp ) }}</div>
              </div>
            </div>
          </div>

          <div class="pt-1" *ngIf=" ! comment['edit'] ">
            <div class="py-2" *ngIf="comment.content" [innerHTML]="comment.content"></div>
            <app-display-files *ngIf="comment.files.length" class="d-block pt-2 pb-1" [post]=" comment "
              [showWhenContentHasNoImage]=" true "></app-display-files>
          </div>
          <div class="comment-buttons" *ngIf=" ! comment['edit'] ">
            <button [attr.color]=" comment.good == '0' ? 'medium' : 'primary'" (click)=" onVote(comment, 'good') ">
              <i class="material-icons">thumb_up</i>
              <i>{{ comment.good == '0' ? '' : ' ' + comment.good }}</i>
            </button>
            <button (click)=" onVote(comment, 'bad') ">
              <i class="material-icons">thumb_down</i>
              <i> {{ comment.bad == '0' ? '' : ' ' + comment.bad }}</i>
            </button>
            <button (click)=" comment['reply'] = true ">
              <i class="material-icons">reply</i>
              <span>Reply</span>
            </button>
            <button (click)=" comment['edit'] = true ">Edit</button>
            <button (click)=" onDelete( comment ) ">Delete</button>
            <button (click)=" onReport( comment ) ">Report</button>

          </div>

          <app-comment-box [root]=" post " [post]=" comment " *ngIf=" comment['edit'] == true || comment['reply'] == true "></app-comment-box>
        </div>
      </div>
    </div>

  </div>



</section>
