@import './../../../styles/variables.scss';
.thumbnail{
    height: 32px;
    width: 32px;
    overflow: hidden;
    border-radius: 4px;
    img{
        width: 100%;
    }
}

.post-text-content{
    line-height: 1.4em;
}

.post-header{
    display: flex;
    padding: .5rem 1rem;
    border-bottom: 1px solid #ebedf0;
    background: #fff;
    cursor: pointer;
    &:hover{
        background-color: #f5f6f7;
    }
    .post-header-text{
        @media (min-width:$md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        margin-left: 1rem;
        flex:1;
        h2{
            flex: 1;
            margin: 0 .0 .1rem 0;
            font-size: .8rem!important;
            font-weight: 600;
            color: #365899;
        }
    }
}


.post-content{
    padding: 1rem 1rem 0 1rem;
    background: #fff;
    font-size: .85rem!important;

    .post-text-content{
        word-break: break-all
    }
}


.post-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 42px;
    margin-top: .5rem;
    color: #616770;
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        height: 100%;
        border: 0;
        background: transparent;
        outline: 0;
        cursor: pointer;
        color: #616770;
        font-size: .75rem;
        font-weight: 500;
        &:hover{
            background-color: rgba(29, 33, 41, .04);
            border-radius: 2px;        
        }
    }
    i.material-icons{
        margin-right: .5rem;
        font-size: 1rem;
        color: inherit;
    }
}

.comment-buttons{
    display: flex;
    align-items: center;
    button{
        display: flex;
        align-items: center;
        border: 0;
        background: transparent;
        outline: 0;
        font-size: .75rem;
        cursor: pointer;
        // color: #365899;
        color: #616770;
    }
    .material-icons{
        margin-right: .15rem;
        font-size: 1rem;
    }
}


// .bg-lightgray{
//     background: #ebedf0;
// }

.child-caption-center-bold{
    figure{
      font-weight: bold;
      text-align: center;
      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }