
.size-48px{
    height: 48px!important;
    width: 48px!important;
}
.w-30{
    width: 30;
}
.w-70{
    width: 70%;
}

.text-link{
    color: #365899;
}

.mb-12px{
    margin-bottom: 12px;
}

.mt-2px{
    margin-top:2px;
}

.p-1px{
    padding: 2px;
}

.right{
    line-height: 1.15rem;
}