<section class="stories box mt-0 mb-default-spacing" *ngIf=" a.frontPage?.stories?.length ">
  <header class="d-flex align-items-center">
      <i class="material-icons mr-2 line-height-0 text-secondary">view_list</i>
      Your stories
  </header>

  <article class="posts pr-3 pb-3">

    <div class="post d-flex align-items-center mt-2">
      <a class="left flex-center w-30 p-2px size-48px border rounded"  routerLink="/blog-post">
        <i class="material-icons">add</i>
      </a>
      <div class="right ml-2 w-70">
        <div class="mt-2px fw-bold">Add your story here</div>
        <div class="fs-sm text-muted ">Sonub is free service.</div>
      </div>
    </div>

    <div class="post d-flex pointer mt-2" *ngFor="let post of a.frontPage.stories" (click)=" a.openBlogCategory( post.category, post.blog ) ">
      <div class="left w-30">
          <div class="flex-center p-2px size-48px border rounded">
            <img class="w-100" src="{{ a.getPostPhotoUrl(post, 48, 48) }}">
          </div>
      </div>
      <div class="right ml-2 w-70">
        <div class="mt-2px text-link fw-bold truncate">{{ post.subject }}</div>
        <div  class="truncate">{{ post.content }}</div>
        <div class="d-flex align-items-center text-secondary">
          <i class="material-icons mr-1 fs-md">tv</i>
          {{ a.getBlogDomain(post.blog) }}
        </div>
      </div>
    </div>
  </article>

</section>

<app-adv class="mt-default-spacing"></app-adv>

<app-currency></app-currency>
<app-weather></app-weather>
<section class="widgets box">
  <article class="d-flex align-items-center px-2 py-1">
    <i class="material-icons mx-1">add</i>
    <span>Add New Widget</span>
  </article>
</section>

<section class="ad-box sonub-adv">
  <header>Do you want get a job? earn?</header>
  <article class="pt-3">
    Or selling or buying?<br>
    Sonub is a big social hub network where you can grow with.<br>
  </article>
  <footer class="text-muted">
    Live with sonub.com
  </footer>
</section>
<app-adv></app-adv>