.size-40px{
    height: 40px!important;
    width: 40px!important;
}
.w-30{
    width: 30;
}
.w-70{
    width: 70%;
}

.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-link{
    color: #365899;
}

.line-height-0{
    line-height: 0;
}