<section class="stories box border-0" *ngIf=" a.frontPage?.stories?.length ">
  <header class="d-flex align-items-center">
      <i class="material-icons mr-2 line-height-0 text-darkgreen">view_list</i>
      {{ a.t({ en:'Your stories ', ko: '당신의 이야기'}) }}
  </header>

  <article class="posts pr-3 pb-3 fs-sm">

    <a class="post d-flex align-items-center mt-2" *ngIf=" a.inRootSite "  routerLink="{{ a.getUrlPostViewByAccessCode( a.HELP, 'create-your-blog-now' ) }}">
      <span class="left flex-center w-30 p-2px size-57px border rounded">
        <i class="material-icons">add</i>
      </span>
      <div class="right ml-2 w-70">
        <div class="mt-2px fw-bold">{{ a.t({ en:'Add your story here', ko: '여기에 기사를 추가하십시오.'}) }} </div>
        <div class="text-muted ">{{ a.t({ en:'Sonub is free service.', ko: 'Sonub는 무료 서비스입니다.'}) }}</div>
      </div>
    </a>

    <div class="post d-flex pointer mt-2" *ngFor="let post of a.frontPage.stories" (click)=" a.openBlogCategory( post.category, post.blog ) ">
      <div class="left w-30">
          <div class="flex-center p-2px size-57px border rounded">
            <img class="w-100" src="{{ a.getPostPhotoUrl(post, 57, 57) }}">
          </div>
      </div>
      <div class="right ml-2 w-70">
        <div class="mt-1 text-link fw-bold truncate">{{ post.subject }}</div>
        <div  class="truncate">{{ post.content }}</div>
        <div class="d-flex align-items-center text-muted">
          <i class="material-icons mr-1 fs-lg">link</i>
          <span>{{ a.getBlogDomain(post.blog) }}</span>
        </div>
      </div>
    </div>
  </article>

</section>

<app-currency></app-currency>
<app-weather></app-weather>

<app-adv class="d-block mb-default-spacing" [code]=" 'job-adv' " [design]=" 'title-up' "></app-adv>
<app-adv class="d-block mb-default-spacing"></app-adv>
