<section class="currency box" *ngIf=" currency ">
  <header class="px-3">Currency on {{ a.date_hia ( 0 ) }} Today</header>
  <article class="px-2 text-center">
    <div class="d-flex">
        <div class="w-50 p-2 m-1 border rounded">
          <div class="fs-lg mb-1">{{ currency.USD_PHP | number:'2.2-2' }}</div>
          <div class="text-secondary">USD - PHP</div>
        </div>
        <div class="w-50 p-2 m-1 border rounded">
          <div class="fs-lg mb-1">{{ currency.KRW_PHP | number:'1.3-5' }}</div>
          <div class="text-secondary">KRW - PHP</div>
        </div>
    </div>

    <div class="d-flex">
        <div class="w-50 p-2 m-1 border rounded">
          <div class="fs-lg mb-1">{{ currency.JPY_PHP | number:'1.2-3' }}</div>
          <div class="text-secondary">JPY - PHP</div>
        </div>
        <div class="w-50 p-2 m-1 border rounded">
          <div class="fs-lg mb-1">{{ currency.CNY_PHP | number:'1.3-4' }}</div>
          <div class="text-secondary">CNY - PHP</div>
        </div>
    </div>
  </article>
</section>
