    <p class="mb-1 px-3 text-muted">Menus</p>
   <ion-list>
      <!-- <ion-item class="pointer" (click)=" controller.dismiss(null, 'view')">
        <ion-icon slot="start" name="eye"></ion-icon>
        <ion-label>View Content</ion-label>
      </ion-item> -->
      <!-- <ion-item class="pointer" (click)=" controller.dismiss(null, 'like')">
        <ion-icon color="primary" slot="start" name="thumbs-up"></ion-icon>
        <ion-label>Like</ion-label>
      </ion-item>
      <ion-item class="pointer" (click)=" controller.dismiss(null, 'dislike')">
        <ion-icon color="medium" slot="start" name="thumbs-down"></ion-icon>
        <ion-label color="medium">Dislike</ion-label>
      </ion-item>
      <ion-item class="pointer" (click)=" controller.dismiss(null, 'reply')">
        <ion-icon color="medium" slot="start" name="text" mode="ios"></ion-icon>
        <ion-label>Reply</ion-label>
      </ion-item> -->
      <ion-item class="pointer" (click)=" controller.dismiss(null, 'edit')" *ngIf=" philgo.isMyPost( post ) ">
        <ion-icon color="medium" slot="start" name="create" mode="ios"></ion-icon>
        <ion-label>Edit</ion-label>
      </ion-item>
      <ion-item class="pointer" (click)=" controller.dismiss(null, 'delete')" *ngIf=" philgo.isMyPost( post ) ">
        <ion-icon color="danger" slot="start" name="trash"></ion-icon>
        <ion-label>Delete</ion-label>
      </ion-item>
      <ion-item class="pointer" (click)=" controller.dismiss(null, 'report')">
        <ion-icon  color="tertiary" slot="start" name="warning"></ion-icon>
        <ion-text>Report</ion-text>
      </ion-item>
    </ion-list>

