<ion-header class="">
  <app-header [title]=" 'Sonub' "></app-header>
</ion-header>

<ion-content padding>

  <div class="d-flex" routerLink="/create">
    <app-avatar></app-avatar>
    <div class="ml-3 border w-100">&nbsp; What's on your mind?</div>
  </div>


  <ion-button>My Color</ion-button>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
</ion-content>