<ion-header class="">
  <app-header [page]=" 'home' " [title]=" 'Sonub' "></app-header>
</ion-header>

<ion-content padding>

  <app-request-push-notification></app-request-push-notification>


  <div class="d-flex" routerLink="/create">
    <app-avatar></app-avatar>
    <div class="ml-3 border w-100">&nbsp; What's on your mind?</div>
  </div>


  <div *ngIf=" res ">
      <div>Sonub Version: {{ res.info.version }}</div>
      <div>My blog posts: {{ res.no_of_my_blog_posts }}</div>
      <div>
        My new posts
        <div *ngFor="let post of res.my_latest_blog_posts ">
          {{ post.subject }}
          <div [innerHTML]="post.content"></div>
        </div>
      </div>
  </div>
  


  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
  <h1>111</h1>
</ion-content>