@import '../../../../styles/variables';

.bar-graph{
  &-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em 1.25em;

    .bar-graph-title{
      margin: 0;
      font-size: .9em;
    }
    .bar-graph-subtitle{
      font-size: .8em;
    }
  }


  &-content-desktop{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 3.5em 1.6em 7em 1.5em;
    font-size: .75em;
    overflow: auto;

    .bar-item-color-page-views{
      border-bottom: .5px solid #17a2b8!important;
      background-color: #17a2b8!important;
    }
    .bar-item{
      position: relative;
      margin: 0 1px;
      min-width: 1.2em;
      min-height: 1px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border-bottom: .5px solid#6c757d;
      background-color: #6c757d;
      text-align: center;
      .bar-item-no{
        position: absolute;
        bottom: 100%;
        right: 0;
        left: 0;
        margin-bottom: .25rem;
        transform: rotate(-90deg);
        white-space: nowrap;
      }
      .bar-item-date{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        margin-top: 4.5em;
        transform: rotate(-87deg);
        white-space: nowrap;
        &.today {
          font-weight: bold;
        }
      }
    }
  }

  &-content-mobile{
    box-sizing:border-box;
    width: 100%;
    padding:  .5em 0 3.5em 8.15em;
    font-size: .75em;
    overflow: auto;

    .bar-item-color-page-views{
      border-left: .5px solid #17a2b8!important;
      background-color: #17a2b8!important;
    }
    .bar-item{
      position: relative;
      margin: .7rem 0;
      height: 1.5em;
      min-width: 1px;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
      border-left: .5px solid#6c757d;
      background-color: #6c757d;
      .bar-item-no{
        position: absolute;
        top: 52%;
        left:100%;
        margin-left: .5rem;
        transform: translateY(-50%);
      }
      .bar-item-date{
        position: absolute;
        top: 52%;
        left: -6.5em;
        transform: translateY(-50%);
        color: black!important;
        &.today {
          font-weight: bold;
        }
      }
    }
  }
}