<mat-toolbar  class="border-top border-top-md-0">
    <h1 class="px-2">Statistics</h1>
</mat-toolbar>

<mat-form-field>
  <input matInput [matDatepicker]="from_date_picker" placeholder="Date From" disabled [(ngModel)]=" from_date " (dateChange)="loadStat()">
  <mat-datepicker-toggle matSuffix [for]="from_date_picker"></mat-datepicker-toggle>
  <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="to_date_picker" placeholder="Date To" disabled [(ngModel)]=" to_date " (dateChange)="loadStat()">
  <mat-datepicker-toggle matSuffix [for]="to_date_picker"></mat-datepicker-toggle>
  <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
</mat-form-field>

<section class="bg-white p-4">

  <div>
    <div>Daily</div>
    <div class="bar-stats position-relative" *ngIf="data?.uniqueVisitor?.stats">
      <div class="bar-content" *ngFor="let k of _.keys(data['uniqueVisitor']['stats'])">
        <div class="bar-items">
          <div class="bar-item bg-gray" *ngIf="data['uniqueVisitor']['stats']" [style.height.px]=" barHeight(data['uniqueVisitor']['stats'][k] , data?.uniqueVisitor?.total)"></div>
          <div class="bar-item bg-green" *ngIf="data['pageView']['stats']" [style.height.px]=" barHeight(data['pageView']['stats'][k], data?.pageView?.total)"></div>
        </div>
        <div class="bar-date text-center">
          {{ formatDate( k )}}
        </div>
      </div>
    </div>

    <table class="text-center" border="1" *ngIf="data?.uniqueVisitor?.stats ">
      <tr>
        <td>Date</td>
        <td bgcolor="gray">Unique Visitor</td>
        <td bgcolor="green">Page View</td>
      </tr>
      <tr *ngFor="let k of _.keys(data['uniqueVisitor']['stats'])">
        <td>{{k}}</td>
        <td *ngIf="data['uniqueVisitor']['stats']" >{{ data['uniqueVisitor']['stats'][k]}}</td>
        <td *ngIf="data['pageView']['stats']">{{ data['pageView']['stats'][k] }}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td *ngIf="data?.uniqueVisitor?.total" >{{ data?.uniqueVisitor?.total }}</td>
        <td *ngIf="data?.pageView?.total">{{ data?.pageView?.total }}</td>
      </tr>
    </table>
  </div>
  <div>
    <div>Total no of visitors on selected period</div>
    <!--<table *ngIf=" data['everyHourUniqueVisitor'] ">-->
      <!--<tr *ngFor="let k of data['everyHourUniqueVisitor']; let i = index;">-->
        <!--<td>{{ i }} {{ k }}</td>-->
      <!--</tr>-->
    <!--</table>-->
  </div>
  <div>
    <div>Total no of page view on selected period</div>
    <!--<table *ngIf="data['everyHourPageView']">-->
      <!--<tr *ngFor="let k of data['everyHourPageView']; let i = index;">-->
        <!--<td>{{ i }} {{ k }}</td>-->
      <!--</tr>-->
    <!--</table>-->
  </div>

        Languages(Country) base on browser language<br>


        Platform stat: Windows, Mac, Android, iOS, etc.<br>
</section>
