<mat-toolbar  class="border-top border-top-md-0">
    <h1 class="px-md-2 fw-light">Statistics</h1>
</mat-toolbar>

<div class="d-md-flex bg-white px-3 px-md-4 pt-4">
    <mat-form-field class="w-100 mr-md-3 border-box" appearance="outline">
      <mat-label>Date From</mat-label>
      <input matInput [matDatepicker]="from_date_picker" disabled [(ngModel)]=" from_date " (dateChange)="loadStat()">
      <mat-datepicker-toggle matSuffix [for]="from_date_picker"></mat-datepicker-toggle>
      <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-100 ml-md-3 border-box" appearance="outline">
      <mat-label>Date To</mat-label>
      <input matInput [matDatepicker]="to_date_picker" disabled [(ngModel)]=" to_date " (dateChange)="loadStat()">
      <mat-datepicker-toggle matSuffix [for]="to_date_picker"></mat-datepicker-toggle>
      <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
    </mat-form-field>
</div>

<section class="bg-white px-3 px-md-4 pt-0">

  <div class="of-scroll">
    <div class="button-row">
      <button class="mr-1" mat-raised-button color="primary" (click)="loadStat('uniqueVisitor')">Visitor</button>
      <button mat-raised-button color="accent" (click)="loadStat('pageView')">Page View</button>
    </div>
    <div class="bar-stats position-relative" *ngIf="data && data[selectedStats]?.stats">
      <div class="bar-content" *ngFor="let k of _.keys(data[selectedStats]['stats'])">
        <div class="bar-items">
          <div class="bar-item bg-gray" *ngIf="data[selectedStats]['stats']" [style.height.px]=" barHeight(data[selectedStats]['stats'][k] , data[selectedStats].total)"></div>
        </div>
        <div class="bar-date text-center">
          {{ formatDate( k )}}
        </div>
      </div>
    </div>
    <table class="text-center mt-5" border="1" *ngIf=" data[selectedStats] && data[selectedStats]?.stats ">
      <tr>
        <td>Date</td>
        <td bgcolor="gray">{{selectedTitle[selectedStats]}}</td>
      </tr>
      <tr *ngFor="let k of _.keys(data[selectedStats]['stats'])">
        <td class="px-5 ">{{k}}</td>
        <td class="px-5" *ngIf="data[selectedStats]['stats']" >{{ data[selectedStats]['stats'][k]}}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td  *ngIf="data[selectedStats]?.total" >{{ data[selectedStats]?.total }}</td>
      </tr>
    </table>

  </div>

  <div class="px-2 pt-4 pb-5">
      <p>Languages(Country) base on browser language</p>

      <p> Platform stat: Windows, Mac, Android, iOS, etc.</p>
  </div>

</section>
