<ion-header class="">
  <app-header [title]=" 'Create' "></app-header>
</ion-header>


<ion-content padding>

  <ion-item>
    <app-avatar></app-avatar>
    <div class="ml-3 w-100">
      <div>{{ a.user.name }}</div>
    </div>
  </ion-item>



  <ion-item>
    <ion-label>Post on</ion-label>
    <ion-text color="primary">{{ forums[form.post_id] }}</ion-text>
    <ion-select class="ml-1" selectedText="Or choose ..." [(ngModel)]="form.post_id" (ionChange)=" onChangeForum( $event ) "
      [interfaceOptions]="{ subHeader: 'Post', message: 'Select where to post' }" interface="popover">
      <ion-select-option *ngFor="let forum of forums | keyvalue" value="{{ forum.key }}">{{ forum.value }}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ng-simple-editor #editor [icons]="true" (change)=" onChangeContent( $event ) "></ng-simple-editor>
  </ion-item>

  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input [(ngModel)]=" form.subject " (keyup)="onSubjectKeyUp()"></ion-input>
  </ion-item>


  <ion-item>
    <ion-buttons>
      <ion-button>
        <ion-icon name="square-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="dark" name="square"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="light" name="square"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="primary" name="square"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="secondary" name="square"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="warning" name="square"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="tertiary" name="square"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="danger" name="square"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <app-files-component class="d-block my-3" [edit]=" true " [post]=" form " [percentage]=" percentage "></app-files-component>

  <ion-item>
    <ion-button class="w-120px fs-sm" expand="block" *ngIf=" isWeb " color="light" fill="solid">
      <ion-icon slot="start" name="attach"></ion-icon>
      <ion-text>Photo or file upload</ion-text>
      <input class="transparent-cover pointer" type="file" name="file" (change)="onChangeFile($event)">
    </ion-button>

    <ion-button class="w-120px fs-sm" expand="block" *ngIf=" isCordova " color="light" fill="solid" (click)=" onClickCordovaFileUploadButton() ">
      <ion-icon slot="start" name="camera"></ion-icon>
      <ion-text>Photo or file upload</ion-text>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-icon name="happy"></ion-icon>
    <ion-text>Emoticons</ion-text>
  </ion-item>

  <ion-button expand="full" (click)=" onSubmit() ">Post</ion-button>

</ion-content>