<ion-header class="">
  <app-header [title]=" 'Create' "></app-header>
</ion-header>


<ion-content padding>

  <ion-item>
    <app-avatar></app-avatar>
    <div class="ml-3 w-100">
      <div>{{ a.user.name }}</div>
    </div>
  </ion-item>



  <ion-item>
    <ion-label>Post on</ion-label>
    <ion-text>{{ forums[postId] }}</ion-text>
    <ion-button *ngIf=" !p " class="" size="small" color="light" (click)=" post='blog' ">My Blog</ion-button>
    <ion-button *ngIf=" !u " class="ml-1" size="small" color="light" (click)=" p ='qna' ">QnA</ion-button>
    <ion-select class="ml-1" selectedText="Choose" [(ngModel)]="postId" (ionChange)=" onChangeForum( $event ) "
      [interfaceOptions]="{ subHeader: 'Post', message: 'Select where to post' }" interface="popover">
      <ion-select-option *ngFor="let forum of forums | keyvalue" value="{{ forum.key }}">{{ forum.value }}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ng-simple-editor></ng-simple-editor>
  </ion-item>

  <ion-item>
    <ion-buttons>
      <ion-button>
        <ion-icon name="square-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="dark" name="square"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="light" name="square"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="primary" name="square"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="secondary" name="square"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="warning" name="square"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="tertiary" name="square"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="danger" name="square"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item>
    <ion-icon name="image"></ion-icon>
    <ion-text>Photo</ion-text>
  </ion-item>
  <ion-item>
    <ion-icon name="videocam"></ion-icon>
    <ion-text>Video</ion-text>
  </ion-item>
  <ion-item>
    <ion-icon name="happy"></ion-icon>
    <ion-text>Emoticons</ion-text>
  </ion-item>

  <ion-button expand="full">Post</ion-button>

</ion-content>