// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import './theme/bootstrap-custom.scss';
$primary-color: #007bff;

body, a, div, p {
    font-family: Arial, Menlo, Monaco, "Courier New", monospace;
}
.no-header-shadow {
    &:after {
        display: none;
    }
}

.bg-transparent {
    --background: transparent !important;
}

.list-menu {
    ion-item {
        cursor: pointer;
    }
    ion-icon {}
    ion-text {
        margin-left: .5em;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.md ion-button {
    text-transform: none;
}

ion-toolbar {
    --min-height: 10px;
}

ion-toast {
    &.error {
        .toast-container {
            background-color: rgb(141, 0, 0);
        }
    }
}

.submit-button {
    color: white;
    --height: 42px;
    --box-shadow: 0 !important;
    --ion-color-base: #007bff !important;
    --ion-color-shade: #005abb !important;
}

.size-24px {
    width: 24px !important;
    height: 24px !important;
}

.size-32px {
    width: 32px !important;
    height: 32px !important;
}

.h-20px {
    height: 20px !important;
}

.border-box {
    box-sizing: border-box !important;
}

