<section class="header">
  <div class="header-inner">

    <div class="left">
      <form (ngSubmit)=" a.openSearch( q.value ) ">
        <div class="searchbar">
          <a class="flex-center mr-1" routerLink="/">
            <app-logo></app-logo>
          </a>
          <input name="q" #q placeholder="Search">
          <i class="searchbar-button material-icons" (click)=" a.openSearch( q.value ) ">search</i>
        </div>
      </form>
    </div>

    <div class="right">
      <a *ngIf="a.myName" routerLink="/register">
        <img class="img-thumbnail" src="{{ a.myPhotoUrl}}">
        {{ a.myName }}
      </a>

      <span class="white" (click)=" a.openMyBlog() " *ngIf=" ! a.inMyBlog ">My Blog</span>
      <a routerLink="/post">Create</a>

      <i class="material-icons" routerLink="{{ a.getBlogNewCommentsUrl() }}">
        chat
      </i>
      <i class="material-icons" routerLink="{{ a.getBlogNewEventsUrl() }}">
        notifications
      </i>
      <i class="material-icons" routerLink="{{ a.getUrlPostViewByAccessCode( a.HELP, 'sonub-help') }}">help</i>

      <a class="pr-0" routerLink="/menu"><i class="material-icons">menu</i></a>
    </div>

  </div>
</section>
