<section class="header">
  <div class="header-inner">

    <div class="left pl-1">
        <a class="letter-logo" routerLink="/">S</a>
        <div class="searchbar">
          <input placeholder="Search">
          <i class="searchbar-button material-icons">search</i>
        </div>
    </div>

    <div class="right">
      <a class="fw-bold" routerLink="/register">
        <img class="size-24px circle" src="{{ a.myPhotoUrl}}">
        {{ a.myName }}
      </a>

      <a class="fw-bold" routerLink="/blog">My Blog</a>
      <a class="fw-bold" routerLink="/post/blog">Create</a>

      <i class="material-icons">
        chat
      </i>
      <i class="material-icons">
        notifications
      </i>
      <i class="material-icons">help</i>
      <a class="pr-0" routerLink="/menu"><i class="material-icons">menu</i></a>
    </div>

  </div>
</section>
