<section class="header">
  <div class="header-inner">

    <div class="left pl-1">
      <a class="letter-logo" routerLink="/">S</a>
      <div class="searchbar">
        <input placeholder="Search">
        <i class="searchbar-button material-icons">search</i>
      </div>
    </div>

    <div class="right">
      <a *ngIf="a.myName" routerLink="/register">
        <img class="img-thumbnail" src="{{ a.myPhotoUrl}}">
        {{ a.myName }}
      </a>

      <span class="white" (click)=" a.openMyBlog() " *ngIf=" ! a.inMyBlog ">My Blog</span>
      <a routerLink="{{ a.getBlogPostCreateUrl() }}">Create</a>

      <i class="material-icons" routerLink="{{ a.getBlogNewCommentsUrl() }}">
        chat
      </i>
      <i class="material-icons" routerLink="{{ a.getBlogNewEventsUrl() }}">
        notifications
      </i>
      <i class="material-icons" routerLink="{{ a.getUrlPostViewByAccessCode( a.HELP, 'sonub-help') }}">help</i>

      <a class="pr-0" routerLink="/menu"><i class="material-icons">menu</i></a>
    </div>

  </div>
</section>
