@import '../../../../styles/variables';

// .padding {
//   padding: $padding;
// }

.header {
  box-sizing: border-box;
  height: $desktop-header-height;
  overflow: hidden;
  background-color: #29487D;
  .header-inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: auto;
    height: 100%;
    max-width: $max-width;


    .left{
      display: flex;
      align-items: center;
      // .letter-logo{
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   margin-right: .5rem;
      //   padding-top:2px;
      //   height: 26px;
      //   width: 26px;
      //   box-sizing: border-box;
      //   border-radius: 2px;
      //   background: #fff;
      //   color: #29487D;
      //   font-size: 1.2rem;
      // }

      .searchbar {
        position: relative;
        display: flex;
        padding-left: 5px;
        padding-right: 48px;
        height: 30px;
        width: $sidebar-width;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 3px;
        background: #fff;
        input{
          padding-left: .5rem;
          width: 100%;
          border: 0;
          outline: 0;
          font-size: .84rem;
        } 
        .searchbar-button{
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          right: 0;
          height: 100%;
          width: 48px;
          background: #f5f6f7;
          color: #4b4f56;
          font-size: 1.2rem;
          cursor: pointer;
        }
      }
    }


    .right{
      display: flex;
      font-size: .85rem;
      &>*{
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: .55rem;
        padding-right: .55rem;
        cursor: pointer;
      }
      a{
        color: #fff;
      }
      .material-icons{
        color: #071F48!important;
      }
    }
  }
}





