<section class="blog-featured-posts">
  <div class="row no-gutters">
    <div class="col-6 col-lg-3 bg-dark">
      <app-post-thumbnail-with-text-on-top [post]=" frontPage.blog_featured_1 "></app-post-thumbnail-with-text-on-top>
    </div>
    <div class="col-6 col-lg-3 bg-light">
      <app-post-thumbnail-with-text-on-top [post]=" frontPage.blog_featured_2 "></app-post-thumbnail-with-text-on-top>
    </div>
    <div class="col-6 col-lg-3 bg-green">
      <app-post-thumbnail-with-text-on-top [post]=" frontPage.blog_featured_3 "></app-post-thumbnail-with-text-on-top>
    </div>
    <div class="col-6 col-lg-3 bg-gold">
      <app-post-thumbnail-with-text-on-top [post]=" frontPage.blog_featured_4 "></app-post-thumbnail-with-text-on-top>
    </div>
  </div>
</section>
