<section class="blog-featured-posts mt-2px">
  <div class="row no-gutters mx-minus-2px">
    <div class="col-6 col-lg-3">
      <app-post-thumbnail-with-text-on-top [post]=" frontPage.blog_featured_1 "></app-post-thumbnail-with-text-on-top>
    </div>
    <div class="col-6 col-lg-3">
      <app-post-thumbnail-with-text-on-top [post]=" frontPage.blog_featured_2 "></app-post-thumbnail-with-text-on-top>
    </div>
    <div class="col-6 col-lg-3">
      <app-post-thumbnail-with-text-on-top [post]=" frontPage.blog_featured_3 "></app-post-thumbnail-with-text-on-top>
    </div>
    <div class="col-6 col-lg-3">
      <app-post-thumbnail-with-text-on-top [post]=" frontPage.blog_featured_4 "></app-post-thumbnail-with-text-on-top>
    </div>
  </div>
</section>
