<a class="post-multi-thumb d-flex mt-2" *ngIf="post" href="{{ a.getUrlPostView(post) }}" (click)="a.onClickPost( $event, post )">
  <div class="thumbnail">
    <img src="{{ philgo.thumbnailUrl({ width: 140, height: 70, path: post.path_of_first_image }) }}">
  </div>
  <div class="ml-2">
    <div class="text bold truncate" *ngIf=" post.subject ">{{ post.subject }}</div>
    <div class="text text-muted" *ngIf=" a.postContentOnMainPhoto(post) ">
      {{ a.postContentOnMainPhoto(post) }}
    </div>
  </div>

</a>
