<header>
    <mat-toolbar class="border-top border-top-md-0">
        <h1 class="px-md-2 fw-light">Meta Tags</h1>
    </mat-toolbar>
</header>
<main class="bg-white p-3 px-md-4">
  <app-loader *ngIf=" loader.setting "></app-loader>
  <section class="fs-md" *ngIf=" ! loader.setting ">

      <div class="mb-3">
        <h2 class="fs-lg fw-light">
          You can input HTML and Meta tags to work with 3rd party services.
        </h2>
        <div class="p-4 bg-light rounded">
            <p class="d-md-flex mt-0 mb-3"><b class="mr-md-2 text-danger">Notice: </b> Do not input SEO meta tags like title, description, keyword, OG Tags, etc. They are inserted automatically by sonub blog system.</p>
            <p class="d-md-flex my-0"><b class="mr-md-2 text-danger">Notice: </b> HTML and Meta tags you input here will only be shown to robots & non-browsers.</p>
        </div>
      </div>
      
      <div>
          <!-- <h2 class="d-flex align-items-center fs-lg fw-light text-dark">
            <i class="d-none d-md-block material-icons mr-2 fs-xl">input</i>
            Input HTML tags
          </h2> -->
          <p class="d-flex align-items-center mt-0 text-dark">
            <i class="d-none d-md-block material-icons mr-3 fs-xl">input</i>
            The HTML tags here will be inserted in &lt;head>&lt;/head> tag only when robots and non-browsers are requesting.
          </p>
    
          <form (ngSubmit)="onSubmit()">
              <mat-form-field appearance="outline" class="w-100">
                <textarea rows="5" name="head" [(ngModel)]=" blog.head " matInput placeholder="Input HTML tags ..."></textarea>
              </mat-form-field>
          
              <div class="list-row my-4 text-center">
                <button class="mx-2 bg-white black bg-light" mat-flat-button type="button" routerLink="/blog-dashboard">
                  <i class="material-icons red">clear</i>
                  <span class="ml-1">Cancel</span>
                </button>
                <button class="mx-2 bg-primary" mat-flat-button type="submit">
                  <span class="mr-2">Submit</span>
                  <i class="material-icons">send</i>
                </button>
              </div>
          </form>
      </div>

  </section>
</main>
